<%= form_for(@control_asistencia) do |f| %>
  <% if @control_asistencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@control_asistencia.errors.count, "error") %> prohibited this control_asistencia from being saved:</h2>

      <ul>
      <% @control_asistencia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :anio_alumno_id %><br />
    <%= f.number_field :anio_alumno_id %>
  </div>
  <div class="field">
    <%= f.label :tipo_asistencia %><br />
    <%= f.number_field :tipo_asistencia %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.number_field :usuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
