<h1>Listing controles_asistencias</h1>

<table>
  <tr>
    <th>Anio alumno</th>
    <th>Tipo asistencia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @controles_asistencias.each do |control_asistencia| %>
  <tr>
    <td><%= control_asistencia.anio_alumno_id %></td>
    <td><%= control_asistencia.tipo_asistencia %></td>
    <td><%= control_asistencia.usuario %></td>
    <td><%= link_to 'Show', control_asistencia %></td>
    <td><%= link_to 'Edit', edit_control_asistencia_path(control_asistencia) %></td>
    <td><%= link_to 'Destroy', control_asistencia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Control asistencia', new_control_asistencia_path %>
