<%= form_for(@tipo_nota) do |f| %>
  <% if @tipo_nota.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@tipo_nota.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @tipo_nota.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  <div class="field">
    <%= f.hidden_field :anio_escolar_id, :value => anio_escolar.id %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :abreviatura %><br />
    <%= f.text_field :abreviatura %>
  </div>
  <div class="field">
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>
</div>
<div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
</div>
<% end %>
