<p>Estimado(a) señor(a) <%= @persona.apellidos_nombres %>:</p>
<p>Se le informa que hoy, a las <%= @horanotificacion %>, su hijo(a) <%= @alumno.apellidos_nombres %> no asistió a la actividad programada para hoy:</p>
<p> <%= @actividad.nombre %> </p>
<p> Hora de inicio : <%= @actividad.fecha_hora_inicio.strftime('%I:%M %P') %> </p>
<p>
  Para cualquier consulta adicional, por favor, comuníquese con el profesor o con personal administrativo del colegio.
</p>

<p>
    <%= image_tag attachments['logo_small.jpg'].url -%>
</p>