<%= form_for([@actividad, @actividad.actividades_secciones.build], :html => { :class => "ui-body ui-body-c", "data-ajax" => "false" }) do |f| %>
  <% if !@actividad_seccion.nil? %>
    <% if @actividad_seccion.errors.any? %>
      <div id="error_explanation" data-role="header" data-theme="e">
        <h2><%= pluralize(@actividad_seccion.errors.count, "error") %> impidieron la grabacion:</h2>

        <ul>
        <% @actividad_seccion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.hidden_field :actividad_id %>
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
    <div style="width: 300px; clear: left; float: left">
      <%= collection_select(:actividad_seccion, :seccion_id, Seccion.por_anioescolar(anio_escolar.id).order('grados.grado','seccion'), :id, :grado_seccion, {:prompt => ':: Seleccione ::' }, {"data-mini" => "true"}) %>
    </div>
    <div style="float: left">
      <%= f.submit "", "data-inline" => "true", "data-theme" => "a", "data-icon" => "plus", "data-mini" => "true", "data-iconpos" => "notext" %>    
    </div>
  </div>
<% end %>
