<%= form_for(@actividad_seccione) do |f| %>
  <% if @actividad_seccione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actividad_seccione.errors.count, "error") %> prohibited this actividad_seccione from being saved:</h2>

      <ul>
      <% @actividad_seccione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :actividad_id %><br />
    <%= f.number_field :actividad_id %>
  </div>
  <div class="field">
    <%= f.label :seccion_id %><br />
    <%= f.number_field :seccion_id %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
