  <% if !@alumno_persona_vinculada.nil? %>
    <% if @alumno_persona_vinculada.errors.any? %>
      <div id="error_explanation" data-role="header" data-theme="e">
        <h2><%= pluralize(@alumno_persona_vinculada.errors.count, "error") %> impidieron la grabacion:</h2>

        <ul>
        <% @alumno_persona_vinculada.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

    <div data-role="fieldcontain" class="ui-body ui-body-c">
      <div class="field">
        Persona vinculada: (*)<br/>
        <%= f.collection_select(:persona_vinculada_id, PersonaVinculada.order("apellido_paterno","apellido_materno", "nombres"), :id, :apellidos_nombres, {:prompt => ':: Seleccione ::' }, {"data-mini" => "true", :required => "required"}) %>
      </div>
      <div class="field">
        <%= f.hidden_field :alumno_id %>
      </div>
      <div class="field">
        Tipo vínculo: (*)<br/>
        <%= f.collection_select(:tipo_vinculo, ListaValor.where("tabla = 3"), :item, :descripcion, {:prompt => ':: Seleccione ::' }, {"data-mini" => "true", :required => "required"}) %>
      </div>
      <div class="field">
        Vigencia: (*)<br/>
        <%= f.collection_select(:vigencia_vinculo, ListaValor.where("tabla = 4"), :item, :descripcion, {:prompt => ':: Seleccione ::' }, {"data-mini" => "true", :required => "required"}) %>
      </div>
      <div class="field">
        Inicio: (*)<br/>
        <%= f.text_field :inicio_vigencia, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:130px", :required => "required" %>    
      </div>
      <div class="field">
        Fin:<br/>
        <%= f.text_field :fin_vigencia, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:130px" %>
      </div>
    <br/>
      <fieldset data-role="controlgroup">
        <div class="field">
          <%= f.check_box :apoderado, "class" => "custom", "data-mini" => "true" %>
          <%= f.label :apoderado %> 
        </div>
        <div class="field">
          <%= f.check_box :autoriza_actividad, "class" => "custom", "data-mini" => "true" %>
          <%= f.label :autoriza_actividad, "Autoriza actividades" %> 
        </div>
        <div class="field">
          <%= f.check_box :revisa_control, "class" => "custom", "data-mini" => "true" %>
          <%= f.label :revisa_control, "Revisa cuaderno de control" %> 
        </div>
      </fieldset>
      <div class="field">
        <%= f.hidden_field :usuario, :value => current_user.usuario %>
      </div>
    </div>
    <div>
      <%= f.link_to_remove "Eliminar vinculo", "data-role" => "button", "data-inline" => "true", "data-theme" => "b", "data-icon" => "delete", "data-mini" => "true" %>
    </div>