<div data-role="header">
  <h1><%= "Consultar inasistencias y tardanzas" %> </h1>
</div>

<% if params[:seccion_id].nil? %>
    <% seccion = "" %>
    <% fechaI = "" %>
    <% fechaF = "" %>    
<% else %>
    <% seccion = params[:seccion_id] %>
    <% fechaI = params[:fechaI] %>
    <% fechaF = params[:fechaF] %>
<% end %>

<div data-role="content" class="ui-content" role="main">
<!--div data-role="content" class="content-primary"-->
    <% if current_user.perfil_id == 3 && current_user.alcance_colegio == 0%>
      <% @secciones = Seccion.por_anioescolar_usuario(anio_escolar.id, current_user.id).order('grados.nivel','grados.grado','seccion') %>
    <% else %>
      <% @secciones = Seccion.por_anioescolar(anio_escolar.id).order('grados.nivel','grados.grado','seccion') %>
    <% end %>

    <%= form_tag(consultar_inasistencias_tardanzas_path, {:method => :get, "data-ajax" => "false"}) do %>
      <div data-role="fieldcontain">
        <li data-role="fieldcontain">
          Del: <%= text_field_tag(:fechaI, fechaI, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:135px", :required => "required", :min => @fecha_inicial, :max => Date.current) %>
          Al: <%= text_field_tag(:fechaF, fechaF, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:135px", :required => "required", :min => @fecha_inicial, :max => Date.current) %>
        </li>
        <li data-role="fieldcontain">
          Sección: <%= collection_select(:seccion, :id, @secciones, :id, :grado_seccion, {:prompt => ':: Seleccione ::', :selected => seccion}, {"data-mini" => "true", :required => "required", :name => "seccion_id"}) %>
          <%= submit_tag "Buscar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "search", "data-mini" => "true", :name => nil %>
        </li>
      </div>
    <% end %>
    <% if !seccion.empty? %>
      <div data-role="fieldcontain">
        <ul data-role="listview" data-filter="true">
          <% @alumnos.each do |alumno_colegio| %>
            <% anioalumno_id = AnioAlumno.find_by_anio_escolar_id_and_alumno_id(anio_escolar.id, alumno_colegio.id).id%>
            <li data-filtertext="<%= alumno_colegio.apellidos_nombres %>" >
              <%= alumno_colegio.apellidos_nombres %>
              <span class="ui-li-count ui-btn-up-b ui-btn-corner-all">
                Inasistencias: <%=@controles_asistencias.where("anio_alumno_id = ? and tipo_asistencia = 1", anioalumno_id).count%>
                Tardanzas: <%=@controles_asistencias.where("anio_alumno_id = ? and tipo_asistencia = 2", anioalumno_id).count%>
              </span>
            </li>
          <% end  %>
        </ul>
      </div>
    <% end %>
</div>