<div data-role="header">
  <h1>Alumnos</h1>
  
  <% if (can? :create, Alumno) %>
    <%= link_to 'Registrar', new_alumno_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <% end %>
</div>

<% if params[:seccion_id] == "0" && !params[:seccion_id].nil? %>
  <% seccion_id = "" %>
<% else %>
  <% seccion_id = params[:seccion_id] %>
<% end %>

    <div style="text-align: center;">
      <%= form_tag(alumnos_path, {:method => :get, "data-ajax" => "false", "name" => "buscar"}) do %>                 
         <div data-role="fieldcontain">
            <div style="text-align: left;">
              <%= collection_select(:seccion, :id, Seccion.por_anioescolar(anio_escolar.id).order('grado_id, seccion'), :id, :grado_seccion, { :prompt => ':: Todas las secciones ::', :selected => seccion_id}, {"data-mini" => "true", :name => "seccion_id"}) %>
              <%= submit_tag "Buscar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "search", "data-mini" => "true", :name => nil %>
            </div>
          </div>         
      <% end %>
      <hr>
    </div>

    <% if params[:seccion_id] != "0" && !params[:seccion_id].nil? && params[:seccion_id] != "" %>
    <div style="text-align: center;">
       <% if !seccion_id.nil? %>
        <div data-role="content" style="color: #06c; text-align: center">
          <% seccion = Seccion.find(seccion_id) %>
          <% if !seccion.nil? %>
            <%= seccion.grado_seccion %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% @alumnos.each do |alumno| %>
    <li data-filtertext="<%= "#{alumno.apellidos_nombres} #{alumno.dni} #{alumno.correo} #{alumno.telefono_fijo} #{alumno.telefono_movil}" %>" >
      <%= link_to alumno do %>
        <h3><%= "#{alumno.apellidos_nombres} - DNI #{alumno.dni}" %></h3>
        <p class="ui-li-desc"> <%= "Grado y sección: #{alumno.grado_seccion(anio_escolar.id)}" %></p>
        <p class="ui-li-desc"> <%= "Correo: #{alumno.correo}" %></p>
        <p class="ui-li-desc"> <%= "Teléfonos: #{alumno.telefono_fijo} / #{alumno.telefono_movil}" %></p>
      <% end %>
        
      <% if (can? :update, alumno) %>
        <%= link_to 'Editar', edit_alumno_path(alumno), "data-inline" => "true", "data-role" => "button", "data-mini" => "true" %>
      <% end %>     
        
      <% if (can? :destroy, alumno) %>
        <%= link_to 'Eliminar', alumno, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
      <% end %>
    </li>
    <% end  %>
  </ul>
</div>
