<%= form_for(@asistencia) do |f| %>
  <% if @asistencia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asistencia.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @asistencia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% codigo = "" %>
  <% if params[:codigo_alumno].nil? %>
    <% codigoregistrado = "" %>
  <% else %>
    <% codigoregistrado = params[:codigo_alumno] %>  
  <% end %>

  <div data-role="content">
    <div class="ui-grid-a">
      <div class="ui-block-a" style="text-align: center;">
        <b>Alumno</b>
        <hr>
        <!--@asistencia -->
        <%= form_tag(asistencias_path, {:method => :get, "onSubmit" => "return validarCodigoAlumno();", "data-ajax" => "false", "name" => "buscar"}) do %>
          <!-- No llama a la funcion validarCodigoAlumno() -->
          <div data-role="fieldcontain">
            <div style="text-align: left;">
              Código: (*)<br/>
              <%= number_field_tag(:codigo_alumno, codigo, "data-mini" => "true", :min => "1", :max => "9999999", "autofocus" => "true", :required => "required") %>
              <%= submit_tag "Registrar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true", :name => nil %>
            </div>
          </div>
        <% end %>
        <hr>
      </div>

      <% if !codigoregistrado.empty? %>
        <div class="ui-block-b" style="text-align: center;">
          <div data-role="content" style="color: #06c; text-align: center">
            <% alumnoanio = AnioAlumno.find_by_anio_escolar_id_and_alumno_id(anio_escolar.id, codigoregistrado) %>
            <% if !alumnoanio.nil? %>
              <%= image_tag(alumnoanio.alumno.foto) %> <br/>
              Código: <%= codigoregistrado %> <br/>
              <%= alumnoanio.alumno.apellidos_nombres %>
              <% if !@asistencias.empty? %>
                <% asistenciaeliminar = @asistencias.each %>
                <% @asistencias.each do |asistencia| %>
                    <br/>
                    <% if asistencia.tipo_movimiento == 1 %>
                        Ingreso: <%= asistencia.hora %>
                    <% end %>
                    <% if asistencia.tipo_movimiento == 2 %>
                        Salida: <%= asistencia.hora %>
                    <% end %>
                    <% asistenciaeliminar = asistencia %>
                <% end %>
                <%= link_to 'Eliminar', asistenciaeliminar, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div><!-- /grid-a --> 
  </div>  

<% end %>
