<%= form_for(@cuaderno_control) do |f| %>
  <% if @cuaderno_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuaderno_control.errors.count, "error") %> prohibited this cuaderno_control from being saved:</h2>

      <ul>
      <% @cuaderno_control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CodigoColegio %><br />
    <%= f.number_field :CodigoColegio %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br />
    <%= f.text_field :Fecha %>
  </div>
  <div class="field">
    <%= f.label :Seccion %><br />
    <%= f.text_field :Seccion %>
  </div>
  <div class="field">
    <%= f.label :Estado %><br />
    <%= f.text_field :Estado %>
  </div>
  <div class="field">
    <%= f.label :CodigoUsuario %><br />
    <%= f.text_field :CodigoUsuario %>
  </div>
  <div class="field">
    <%= f.label :FechaUsuario %><br />
    <%= f.text_field :FechaUsuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
