<div data-role="header">
    <h1>Menú de opciones</h1>
</div>

<div data-role="content">
  <div class="content-primary">    
    <ul data-role="listview">  

      <li data-role="list-divider" data-icon="false" data-mini="true">
        Cuaderno de control
      </li>

      <% if (can? :manage, CuadernoControl) || (can? :update, CuadernoControlRevision) || (can? :read, CuadernoControlRevision) %>
        <% if can? :manage, CuadernoControl %>
          <li><a href="<%= cuadernos_controles_path %>">Registrar</a></li>
        <% end %>  

        <% if can? :update, CuadernoControlRevision %>
          <li>
            <%#= revision_cuaderno_control_path(current_user.usuario) %>
            <a href="<%= cuaderno_controles_revisiones_path(:accion => "revisar", :usuario => current_user.usuario) %>">
              Revisar
            </a>
          </li>
        <% end %>

        <% if can? :read, CuadernoControlRevision %>    
          <li><a href="<%= cuaderno_controles_revisiones_path(:accion => "verificar") %>">Verificar</a></li>
        <% end %>
      <% end %>


      <% if (can? :read, PersonaVinculada) || (can? :read, Alumno) || (can? :consultar, AlumnoPersonaVinculada) || (can? :create, Asistencia) %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Seguridad de alumnos
        </li>

        <% if can? :read, PersonaVinculada %>
          <li><a href="<%= personas_vinculadas_path %>">Personas vinculadas</a></li>
        <% end %>

        <% if can? :read, Alumno %>
          <li><a href="<%= alumnos_path(:seccion_id => 0) %>">Vincular personas</a></li>
        <% end %>

        <% if can? :consultar, AlumnoPersonaVinculada %>
          <li><a href="<%= salida_path %>">Salida de alumnos</a></li>
        <% end %>

        <% if can? :create, Asistencia %>
          <li><a href="<%= marcacion_path %>">Registrar asistencia de alumnos</a></li>
        <% end %>
      <% end %>


      <% if (can? :manage, Actividad) || (can? :update, Autorizacion) || (can? :read, Autorizacion) || (can? :calendario, Actividad) %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Actividades del colegio
        </li>

        <% if can? :manage, Actividad %>
          <li><a href="<%= actividades_path %>">Registrar</a></li>
        <% end %>

        <% if can? :update, Autorizacion %>
          <li><a href="<%= autorizacion_actividad_path(current_user.usuario) %>" >Autorizar</a></li>
        <% end %>

        <% if can? :read, Autorizacion %>
          <li><a href="<%= autorizaciones_path %>" >Consultar autorizaciones</a></li>
        <% end %>

        <% if can? :calendario, Actividad %>
          <li><a href="<%= calendario_actividades_path(Date.current.year, Date.current.month, Date.current.strftime('%d')) %>">Calendario</a></li>
        <% end %>
      <% end %>


      <% if (can? :manage, Perfil) || (can? :manage, Usuario) || (can? :manage, Permiso) %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Seguridad del sistema
        </li>

        <% if can? :manage, Permiso %>                
          <li><a href="<%= permisos_path %>">Permisos</a></li>
        <% end %>

        <% if can? :manage, Perfil %>                
          <li><a href="<%= perfiles_path %>">Perfiles</a></li>
        <% end %>

        <% if can? :manage, Usuario %>
          <li><a href="<%= usuarios_path %>">Usuarios</a></li>
        <% end %>
      <% end %>
    </ul>
    
  </div><!--/content-primary -->	
</div>