<div data-role="header">
    <h1>Menú de opciones</h1>
</div>

<div data-role="content">
  <div class="content-primary">    
    <ul data-role="listview">  

      <li data-role="list-divider" data-icon="false" data-mini="true">
        Cuaderno de control
      </li>

      <% if [1,2,3,4].include? current_user.perfil_id %>
        <% if [1,3,5].include? current_user.perfil_id %>
          <li><a href="<%= tipos_eventos_path %>">Configurar</a></li>
        <% end %>
        
        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= cuadernos_controles_path %>">Registrar</a></li>
        <% end %>

        <% if [1,2,4].include? current_user.perfil_id %>
          <li>
            <a href="<%= cuaderno_controles_revisiones_path(:accion => :revisar, :usuario => current_user.usuario) %>">
              Revisar
            </a>
          </li>
        <% end %>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= cuaderno_controles_revisiones_path(:accion => :verificar) %>">Verificar</a></li>
        <% end %>
        <% if [1,2,3,4].include? current_user.perfil_id %>
          <li><a href="<%= cuaderno_controles_eventos_path %>">Consultar eventos programados</a></li>
        <% end %>
      <% end %>


      <% if [1,2,3,4].include? current_user.perfil_id %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Actividades del colegio
        </li>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= actividades_path %>">Registrar</a></li>
        <% end %>

        <% if [1,2].include? current_user.perfil_id %>
          <li><a href="<%= autorizaciones_path(:accion => :autorizar, :usuario => current_user.usuario) %>" >Autorizar</a></li>          
        <% end %>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= autorizaciones_path(:accion => :consultar) %>" >Consultar autorizaciones</a></li>
        <% end %>

        <% if [1,2,4].include? current_user.perfil_id %>
          <li><a href="<%= calendario_actividades_path(Date.current.year, Date.current.month, Date.current.strftime('%d')) %>">Calendario</a></li>
        <% end %>
      <% end %>

          
      <% if [1,2,3].include? current_user.perfil_id %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Seguridad de alumnos
        </li>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= personas_vinculadas_path %>">Personas vinculadas</a></li>
        <% end %>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= vincularpersonas_path(:seccion_id => 0) %>">Vincular personas</a></li>
        <% end %>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= salida_path %>">Salida de alumnos</a></li>
        <% end %>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= new_asistencia_path %>">Registrar asistencia de alumnos</a></li>
        <% end %>
        
        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= consulta_asistencia_path %>">Consultar asistencias por sección</a></li>
        <% end %>
        
        <% if [1,2].include? current_user.perfil_id %>
          <li><a href="<%= consulta_asistencia_alumno_path %>">Consultar asistencias del alumno</a></li>
        <% end %>
      <% end %>


      <% if [1,2,3,4].include? current_user.perfil_id %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Actividades del colegio
        </li>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= actividades_path %>">Registrar</a></li>
        <% end %>

        <% if [1,2].include? current_user.perfil_id %>
          <li><a href="<%= autorizaciones_path(:accion => :autorizar, :usuario => current_user.usuario) %>" >Autorizar</a></li>          
        <% end %>

        <% if [1,3].include? current_user.perfil_id %>
          <li><a href="<%= autorizaciones_path(:accion => :consultar) %>" >Consultar autorizaciones</a></li>
        <% end %>

        <% if [1,2,4].include? current_user.perfil_id %>
          <li><a href="<%= calendario_actividades_path(Date.current.year, Date.current.month, Date.current.strftime('%d')) %>">Calendario</a></li>
        <% end %>
      <% end %>

          
      <% if current_user.perfil_id == 1 %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Seguridad del sistema
        </li>
        <li><a href="<%= permisos_path %>">Permisos</a></li>
        <li><a href="<%= perfiles_path %>">Perfiles</a></li>
        <li><a href="<%= usuarios_path %>">Usuarios</a></li>
        <li><a href="<%= crearusuarios_path %>">Creacion masiva de usuarios</a></li>
      <% end %>
        
      
      <% if [1,2,3,4,5].include? current_user.perfil_id %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Notas
        </li>
        <% if [1,3,5].include? current_user.perfil_id %>
          <li><a href="<%= cargar_notas_path %>">Cargar</a></li>
        <% end %>
          
        <li><a href="<%= notas_path %>">Consultar</a></li>
      <% end %> 
        
      <% if [1,2,3,4].include? current_user.perfil_id %> 
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Mi cuenta
        </li>
        <li><a href="<%= cambiar_clave_path(:id => current_user.id) %>">Cambiar clave</a></li>
      <% end %>
        
      <% if [1,5].include? current_user.perfil_id %> 
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Administracion Colegio
        </li>
        <li><a href="<%= cargar_alumnos_path %>">Cargar alumnos</a></li>
        <li><a href="<%= cargar_padres_path %>">Cargar padres</a></li>
        <li><a href="<%= cargar_vinculos_path %>">Cargar vínculos</a></li>
        <li><a href="<%= cargar_grados_secciones_path %>">Cargar grados y secciones</a></li>
        <li><a href="<%= anios_escolares_path %>">Años escolares</a></li>
        <li><a href="<%= grados_path %>">Grados</a></li>
        <li><a href="<%= secciones_path %>">Secciones</a></li>
        <li><a href="<%= alumnos_path %>">Alumnos</a></li>
        <li><a href="<%= anios_alumnos_path(:seccion_id => 0) %>">Asignar alumnos a secciones</a></li>
      <% end %>
      
      <% if current_user.perfil_id == 1 %>
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Seguridad del sistema
        </li>
        <li><a href="<%= permisos_path %>">Permisos</a></li>
        <li><a href="<%= perfiles_path %>">Perfiles</a></li>
        <li><a href="<%= usuarios_path %>">Usuarios</a></li>
        <li><a href="<%= crearusuarios_path %>">Crear masivamente usuarios y notificarlos por correo</a></li>
      <% end %>
        
        
      <% if current_user.perfil_id == 1 %> 
        <li data-role="list-divider" data-icon="false" data-mini="true">
          Administracion MiCole
        </li>
        <li><a href="<%= listas_valores_path %>">Variables del sistema</a></li>
        <li><a href="<%= colegios_path %>">Colegios</a></li>
        <li><a href="<%= cursos_path %>">Cursos</a></li>
        <li><a href="<%= tipos_notas_path %>">Tipos de nota</a></li>
      <% end %>
    </ul>
    
  </div><!--/content-primary -->	
</div>