<%= form_for(@cuaderno_control, :html => { :class => "ui-body ui-body-c" }) do |f| %>
  <% if @cuaderno_control.errors.any? %>
    <div data-role="header" data-theme="e" id="error_explanation">
      <%= pluralize(@cuaderno_control.errors.count, "error") %> impidieron que se grabe el registro:
      <ul>
      <% @cuaderno_control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  <div class="field">
    <% fecha_actual = Date.current %>
    Fecha: <br/>
    <%= f.text_field :fecha, :readonly => true, :value => fecha_actual,  "data-mini" => "true", "style" => "width:130px" %>
    
  </div>
  <div class="field">
    Sección: <br/>    
    <%= collection_select(:cuaderno_control, :seccion_id, @secciones, :id, :grado_seccion, {}, {"data-mini" => "true", :required => "required"}) %>
  </div>
  <div class="field">
    <!--%= f.label :estado %-->
    <%= f.hidden_field :estado, :value => 1 %>
    <!--%= collection_select(:cuaderno_control, :estado, ListaValor.where("tabla = 5"), :item, :descripcion, {}, {"data-mini" => "true"}) %-->
  </div>
  <div class="field">
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Registrar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
  </div>
</div>
<% end %>