<div data-role="header">
  <h1>Cuaderno de control</h1>
  <%= link_to 'Agregar', new_cuaderno_control_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content" class="content-primary">
  <ul data-role="listview" data-filter="true">
    <% @cuadernos_controles.each do |cuaderno_control| %>
    <li data-filtertext="<%= "#{cuaderno_control.fecha} #{Seccion.find(cuaderno_control.seccion_id).grado_seccion}" %>" >
      <%= link_to cuaderno_control do %>
        <%= simple_format("#{cuaderno_control.fecha} | #{Seccion.find(cuaderno_control.seccion_id).grado_seccion} | #{ListaValor.find_by_tabla_and_item(5, cuaderno_control.estado).descripcion}") %> 
        
      <% end %>
      <%= link_to 'Eliminar', cuaderno_control, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>      
    </li>
    <% end  %>
  </ul>
</div>