<div data-role="header">
  <h1><%=  "#{@cuaderno_control.fecha} | #{Seccion.find(@cuaderno_control.seccion_id).grado_seccion} | #{ListaValor.find_by_tabla_and_item(5, @cuaderno_control.estado).descripcion}" %></h1>
  <%= link_to 'Agregar evento', new_cuaderno_control_cuaderno_control_evento_path(@cuaderno_control), "data-icon" => "gear", "class" => "ui-btn-right", "data-mini" => "true" %>
  <%= link_to 'Regresar', cuadernos_controles_path, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<div data-role="content">
  <ul id='cuaderno_controles_eventos' data-role="listview" data-filter="true">
    <% @cuaderno_control.cuaderno_controles_eventos.each do |cuaderno_control_evento| %>
    <li data-role="list-divider">      
      <%= TipoEvento.find(cuaderno_control_evento.tipo_evento_id).descripcion %> 
	<% if Alumno.find_by_id(cuaderno_control_evento.alumno_id) %>
        <%= " - #{Alumno.find_by_id(cuaderno_control_evento.alumno_id).apellidos_nombres}" %>
      <% end %>
    </li>
    <li>
      <%= link_to simple_format(cuaderno_control_evento.descripcion), [:edit, @cuaderno_control, cuaderno_control_evento] %>
      <%= link_to 'Eliminar', [@cuaderno_control, cuaderno_control_evento], confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
    </li>
    <% end %>
  </ul>
</div>

<% if @cuaderno_control.estado == 1 %>
<div data-role="footer">
  <%= link_to 'Cerrar', "/cuadernos_controles/#{@cuaderno_control.id}/cerrar", "class" => "ui-btn-left", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
</div>  
<% end %>