<div data-role="header">
  <h1>Salida de alumnos</h1>
</div>

<% if params[:tipo_documento] == "0" %>
  <% tipo = "" %>
  <% numero = "" %>
<% else %>
  <% tipo = params[:tipo_documento] %>
  <% numero = params[:numero_documento] %>  
<% end %>

<div data-role="content">    
  <div class="ui-grid-b">
    <div class="ui-block-a" style="text-align: center;">
      <b>Persona que recoge:</b>
       <hr>
       <%= form_tag(salida_path, {:method => :get, "onSubmit" => "return validarBusquedaXDocumento();", "data-ajax" => "false", "name" => "buscar"}) do %>            
         <div data-role="fieldcontain">
            <div style="text-align: left;">
              Tipo documento:<br/>
              <%= collection_select(:persona_vinculada, :tipo_documento, ListaValor.where("tabla=2"), :item, :descripcion, {}, {"data-mini" => "true", :name => "tipo_documento"}) %>
            </div>
<br/>
            <div style="text-align: left;">
              N° documento:<br/>
              <%= text_field_tag(:numero_documento, numero, "data-mini" => "true") %>
            </div>
<br/>
            <div>
              <%= submit_tag "Buscar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "search", "data-mini" => "true", :name => nil %>
            </div>
          </div>         
      <% end %>
      <hr>
    </div>

    <% if params[:tipo_documento] != "0" %>
    <div class="ui-block-b" style="text-align: center;">
       <% if tipo != "" %>
        <div data-role="content" style="color: #06c; text-align: center">
          <% persona = PersonaVinculada.find_by_tipo_documento_and_numero_documento(tipo,numero) %>
          <% if !persona.nil? %>
            <%= image_tag(persona.foto_url.to_s) %> <br/>
            <%= ListaValor.find_by_tabla_and_item(2, tipo).descripcion + " " + numero %>  <br/>
            <%= persona.apellidos_nombres %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <div class="ui-block-c">     
      <% if !persona.nil? %>
      <div data-role="content" style="text-align: center"> 
        <%= form_tag(salidas_path, {"onSubmit" => "return verificarCantidadCheckBoxes('alumno_id[]', 1, -1, 'alumno');", "data-ajax" => "false", "name" => "salida"}) do %>
          <div data-role="fieldcontain">
            <% @alumnos_personas_vinculadas.each do |alumno_persona_vinculada| %>
              <p>
                <%= image_tag(alumno_persona_vinculada.alumno.foto) %> <br/>
                <%= alumno_persona_vinculada.alumno.apellidos_nombres %> <br/>
                
                <% if alumno_persona_vinculada.alumno.salida_registrada(alumno_persona_vinculada.alumno.id, Date.current) == 0 %>
                  <% if can? :crear_en_bloque, Asistencia %>
                    <%= check_box_tag 'alumno_id[]',alumno_persona_vinculada.alumno.id %> 
                  <% else %>
                    [ ]
                  <% end %>
                <% else %>
                <div style="color: #00f; font-size: 11px;">
                  Recogido por <%= alumno_persona_vinculada.alumno.find_asistencia_by_alumno_id_and_fecha(alumno_persona_vinculada.alumno.id, Date.current.strftime('%d/%m/%Y')).persona_vinculada.apellidos_nombres %><br/>
                  <%= alumno_persona_vinculada.alumno.find_asistencia_by_alumno_id_and_fecha(alumno_persona_vinculada.alumno.id, Date.current.strftime('%d/%m/%Y')).fecha_hora.strftime('%d/%m/%Y %H:%M') %>
                </div>
                <% end %>
              </p>
              <hr>
            <% end %> 
            
            <%= hidden_field_tag 'persona_vinculada_id', persona.id %>
            
            <% if can? :crear_en_bloque, Asistencia %>
              <div>
                <%= submit_tag "Registrar salida", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
    
  </div><!-- /grid-a --> 
  
</div>