<%= form_for [@cuaderno_control, @cuaderno_control_evento], :html => { :class => "ui-body ui-body-c" } do |f| %>
  <% if @cuaderno_control_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuaderno_control_evento.errors.count, "error") %> prohibited this cuaderno_control_evento from being saved:</h2>

      <ul>
      <% @cuaderno_control_evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div data-role="fieldcontain">
  <div class="field">
    Tipo de evento:<br />
    <%= collection_select(:cuaderno_control_evento, :tipo_evento_id, TipoEvento.where("cuaderno_control = 1"), :id, :descripcion, {}, {"data-mini" => "true"}) %>
    
  </div>
  <div class="field">
    Alumno:<br/><%= collection_select(:cuaderno_control_evento, :alumno_id, Alumno.all, :id, :apellidos_nombres, {:prompt => ':: Seleccione un alumno ::' }, {"data-mini" => "true"}) %>
  </div>
  <div class="field">
    Descripción:<br/><%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
  </div>
</div>
<% end %>