<div data-role="header">
  <h1>Consultar eventos programados</h1>
</div>

<div data-role="content" class="ui-content" role="main">

  <% usuario = Usuario.find_by_usuario(current_user.usuario) %>
  <% if usuario.perfil_id == 4%>
    <% alumno = usuario.alumno_id.to_s %>
  <% else %>
    <% if params[:alumno_id].nil? %>
      <% alumno = "" %>
    <% else %>
      <% alumno = params[:alumno_id] %>
    <% end %>

    <% persona = PersonaVinculada.logueado(current_user.usuario).first %>
    <%= form_tag(cuaderno_controles_eventos_path, {"data-ajax" => "false", "name" => "buscar", :method => :get}) do %>
      <div data-role="fieldcontain">
        <li data-role="fieldcontain">
          Alumno: <%= collection_select(:alumno, :id, Alumno.hijos_de(persona.id).order("nombres", "apellido_paterno"), :id, :nombres_apellido_paterno, {:selected => alumno}, {"data-mini" => "true", :name => "alumno_id"}) %><br/>
        </li>
        <li data-role="fieldcontain">
          <%= submit_tag "Buscar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "search", "data-mini" => "true", :name => nil %>
        </li>
      </div>
    <% end %>
  <% end %>
  
  <div data-role="collapsible-set" data-theme="b" data-content-theme="d" data-inset="false">
    
    <div data-role="collapsible" data-collapsed="false">
      <h2>Pendientes</h2>
      <ul data-role="listview" data-filter="true">
        <% @cuaderno_controles_eventos.pendiente(Time.now).each do |cuaderno_control_evento| %>
          <% if cuaderno_control_evento.alumno_id.nil? || cuaderno_control_evento.alumno_id == alumno.to_i %>
            <li data-filtertext="<%= "#{cuaderno_control_evento.fecha_evento.strftime('%d/%m/%Y')} #{TipoEvento.find(cuaderno_control_evento.tipo_evento_id).descripcion} #{cuaderno_control_evento.descripcion}" %>" >
                <h3> <%= "#{cuaderno_control_evento.fecha_evento.strftime('%d/%m/%Y')} - #{TipoEvento.find(cuaderno_control_evento.tipo_evento_id).descripcion}" %> </h3>
                <p class="ui-li-desc"> <%= cuaderno_control_evento.descripcion%> </p>
            </li>
          <% end  %>
        <% end  %>
      </ul>
    </div>
    
    <div data-role="collapsible">
      <h2>Pasados</h2>
      <ul data-role="listview" data-filter="true">
        <% @cuaderno_controles_eventos.pasado(Time.now).each do |cuaderno_control_evento| %>
          <% if cuaderno_control_evento.alumno_id.nil? || cuaderno_control_evento.alumno_id == alumno.to_i %>
            <li data-filtertext="<%= "#{cuaderno_control_evento.fecha_evento.strftime('%d/%m/%Y')} #{TipoEvento.find(cuaderno_control_evento.tipo_evento_id).descripcion} #{cuaderno_control_evento.descripcion}" %>" >
                <h3> <%= "#{cuaderno_control_evento.fecha_evento.strftime('%d/%m/%Y')} - #{TipoEvento.find(cuaderno_control_evento.tipo_evento_id).descripcion}" %> </h3>
                <p> <%= "#{cuaderno_control_evento.descripcion}" %> </p>
              </li>
            <% end  %>
          <% end  %>
      </ul>
    </div>
    
  </div> <!-- collapsible set -->
  
</div>
