<%= form_for(@lista_valor) do |f| %>
  <% if @lista_valor.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@lista_valor.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @lista_valor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div data-role="fieldcontain">
    <div class="field">
        <%= "Variable (*)" %><br />
        <%= collection_select(:lista_valor, :tabla, ListaValor.where("tabla=0").order("descripcion"), :item, :descripcion, {:prompt => ':: Seleccione ::'}, {"data-mini" => "true", :required => "required"}) %>
    </div>
    <div class="field">
        <%= "Item (*)" %><br />
        <%= f.number_field :item, :required => "required", :min => 0 %>
    </div>
    <div class="field">
        <%= "Descripcion (*)" %><br />
        <%= f.text_field :descripcion, :required => "required" %>
    </div>
    <div class="field">
        <%= f.label :abreviatura %><br />
        <%= f.text_field :abreviatura %>
    </div>    
    <div class="actions">
        <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
    </div>
  </div>

  
  <!--
  <div class="field">
    <%= f.label :tabla %><br />
    <%= f.number_field :tabla %>
  </div>
  -->
<% end %>
