<%= form_for(@tipo_evento) do |f| %>
  <% if @tipo_evento.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@tipo_evento.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @tipo_evento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  <div class="field">
    <%= f.hidden_field :colegio_id, :value => colegio.id %>
  </div>
 <div class="field">
    Descripcion (*)<br />
    <%= f.text_field :descripcion, :required => "required" %>
  </div>
  <div class="field">
    Alcance (*)<br />
    <%= collection_select(:tipo_evento, :alcance, ListaValor.where("tabla=1"), :item, :descripcion, {:prompt => ':: Seleccione ::'}, {"data-mini" => "true", :required => "required"}) %>
  </div>
  <div data-role="fieldcontain">
    Notificacion inmediata:<br />
    <select <%= f.number_field :notificacion_inmediata, "data-role" => "slider", "data-mini" => "true" %> >
                <option value = 0 <% if @tipo_evento.notificacion_inmediata == 0 %> selected <%end%> >No</option>
                <option value = 1 <% if @tipo_evento.notificacion_inmediata == 1 %> selected <%end%> >Si</option>
    </select>
  </div>

  <div data-role="fieldcontain">
    En cuaderno de control:<br />
    <select <%= f.number_field :cuaderno_control, "data-role" => "slider", "data-mini" => "true" %> >
                <option value = 0 <% if @tipo_evento.cuaderno_control == 0 %> selected <%end%> >No</option>
                <option value = 1 <% if @tipo_evento.cuaderno_control == 1 %> selected <%end%> >Si</option>
    </select>
  </div>
  <div class="field">
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>
    
  <div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
  </div>
</div>
<% end %>
