<h1>Listing tipos_eventos</h1>

<table>
  <tr>
    <th>Colegio</th>
    <th>Descripcion</th>
    <th>Notificacion inmediata</th>
    <th>Alcance</th>
    <th>Cuaderno control</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipos_eventos.each do |tipo_evento| %>
  <tr>
    <td><%= tipo_evento.colegio_id %></td>
    <td><%= tipo_evento.descripcion %></td>
    <td><%= tipo_evento.notificacion_inmediata %></td>
    <td><%= tipo_evento.alcance %></td>
    <td><%= tipo_evento.cuaderno_control %></td>
    <td><%= tipo_evento.usuario %></td>
    <td><%= link_to 'Show', tipo_evento %></td>
    <td><%= link_to 'Edit', edit_tipo_evento_path(tipo_evento) %></td>
    <td><%= link_to 'Destroy', tipo_evento, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo evento', new_tipo_evento_path %>
