<div data-role="header">
  <h1>Tipos de eventos</h1>
  <% if can? :create, TipoEvento %>
    <%= link_to 'Registrar', new_tipo_evento_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <% end %>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% @tipos_eventos.each do |tipo_evento| %>
    <li data-filtertext="<%= "#{tipo_evento.descripcion} #{ListaValor.find_by_tabla_and_item(1, tipo_evento.alcance).descripcion}" %>" >
      <% if can? :update, tipo_evento %>
        <% link_opcion = edit_tipo_evento_path(tipo_evento) %>
      <% else %>
        <% link_opcion = tipo_evento %>
      <% end %>
      <%= link_to link_opcion do %>
        <% if tipo_evento.cuaderno_control == 1%> 
          <%= simple_format("Cuaderno de control : #{tipo_evento.descripcion}") %>
        <% else %>
          <%= simple_format("Evento : #{tipo_evento.descripcion}") %>
        <% end %>
        <!-- #{ListaValor.find_by_tabla_and_item(1, tipo_evento.alcance).descripcion} -->
      <% end %>
      
      <% if can? :destroy, tipo_evento %>
        <%= link_to 'Eliminar', tipo_evento, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
