<%= form_for(@grado) do |f| %>
  <% if @grado.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@grado.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @grado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  <div class="field">
    <%= f.hidden_field :anio_escolar_id, :value => anio_escolar.id %>
  </div>
 <div class="field">
    <%= f.label :grado %><br />
    <%= f.number_field :grado %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>
</div>
<div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
</div>
<% end %>
