<h1>Listing grados</h1>

<table>
  <tr>
    <th>Anio escolar</th>
    <th>Grado</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grados.each do |grado| %>
  <tr>
    <td><%= grado.anio_escolar_id %></td>
    <td><%= grado.grado %></td>
    <td><%= grado.usuario %></td>
    <td><%= link_to 'Show', grado %></td>
    <td><%= link_to 'Edit', edit_grado_path(grado) %></td>
    <td><%= link_to 'Destroy', grado, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grado', new_grado_path %>
