<div data-role="header">
  <h1>Grados</h1>
  <% if can? :create, Grado %>
    <%= link_to 'Registrar', new_grado_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <% end %>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% @grados.por_anio_escolar.each do |grado| %>
    <li data-filtertext="<%= "#{grado.grado}" %>" >
      <% if can? :update, grado %>
        <% link_opcion = edit_grado_path(grado) %>
      <% else %>
        <% link_opcion = grado %>
      <% end %>
      <%= link_to link_opcion do %>
        <%= simple_format("Grado : #{grado.grado}") %>
      <% end %>
      
      <% if can? :destroy, grado %>
        <%= link_to 'Eliminar', grado, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
