<%= form_for([@perfil, @perfil.perfiles_permisos.build], :html => { :class => "ui-body ui-body-c", "data-ajax" => "false" }) do |f| %>
  <% if !@actividad_seccion.nil? %>
    <% if @perfil_permiso.errors.any? %>
      <div id="error_explanation" data-role="header" data-theme="e">
        <h2><%= pluralize(@perfil_permiso.errors.count, "error") %> impidieron que se grabe el registro:</h2>

        <ul>
        <% @perfil_permiso.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

Permisos:
<!-- div data-role="fieldcontain" -->
<div data-role="content" class="content-primary">
  <%#*<div class="field">%>
    <%#*Perfil: <br/>%>
    <%#= collection_select(:perfil_permiso, :perfil_id, Perfil.all, :id, :descripcion, {:prompt => ':: Seleccione ::' }, {"data-mini" => "true"}) %>
  <%#*</div>%>
  <%= f.hidden_field :perfil_id %>
  
   <div style="width: 310px; clear: left; float: left">
    <%= collection_select(:perfil_permiso, :permiso_id, Permiso.where("permisos.id not in (select permiso_id from perfiles_permisos where perfil_id = ?)", @perfil.id).order("subject_class, action"), :id, :detalle, {:prompt => ':: Seleccione ::' }, {"data-mini" => "true"}) %>
  </div>
  <div style="float: left">
    <%= f.submit "", "data-inline" => "true", "data-theme" => "a", "data-icon" => "plus", "data-mini" => "true", "data-iconpos" => "notext" %>    
  </div>
</div>
<% end %>