<div data-role="header">
  <h1>Perfiles</h1>
  <% if can? :create, Perfil %>
    <%= link_to 'Registrar', new_perfil_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <% end  %>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% @perfiles.each do |perfil| %>
    <li data-filtertext="<%= "#{perfil.descripcion}" %>" >
      <%= link_to perfil_path(perfil) do %>
        <%= simple_format("#{perfil.descripcion}") %>
      <% end %>
      
      <% if can? :destroy, perfil %>
        <%= link_to 'Eliminar', perfil, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
      <% end  %>
    </li>
    <% end  %>
  </ul>
</div>
