<%= form_for(@cuaderno_control_revisione) do |f| %>
  <% if @cuaderno_control_revisione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuaderno_control_revisione.errors.count, "error") %> prohibited this cuaderno_control_revisione from being saved:</h2>

      <ul>
      <% @cuaderno_control_revisione.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cuaderno_control_id %><br />
    <%= f.number_field :cuaderno_control_id %>
  </div>
  <div class="field">
    <%= f.label :alumno_id %><br />
    <%= f.number_field :alumno_id %>
  </div>
  <div class="field">
    <%= f.label :persona_vinculada_id %><br />
    <%= f.number_field :persona_vinculada_id %>
  </div>
  <div class="field">
    <%= f.label :revisado %><br />
    <%= f.text_field :revisado %>
  </div>
  <div class="field">
    <%= f.label :fecha_hora_revision %><br />
    <%= f.datetime_select :fecha_hora_revision %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_area :observaciones %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
