<h1>Listing cuaderno_controles_revisiones</h1>

<table>
  <tr>
    <th>Cuaderno control</th>
    <th>Alumno</th>
    <th>Persona vinculada</th>
    <th>Revisado</th>
    <th>Fecha hora revision</th>
    <th>Observaciones</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cuaderno_controles_revisiones.each do |cuaderno_control_revisione| %>
  <tr>
    <td><%= cuaderno_control_revisione.cuaderno_control_id %></td>
    <td><%= cuaderno_control_revisione.alumno_id %></td>
    <td><%= cuaderno_control_revisione.persona_vinculada_id %></td>
    <td><%= cuaderno_control_revisione.revisado %></td>
    <td><%= cuaderno_control_revisione.fecha_hora_revision %></td>
    <td><%= cuaderno_control_revisione.observaciones %></td>
    <td><%= cuaderno_control_revisione.usuario %></td>
    <td><%= link_to 'Show', cuaderno_control_revisione %></td>
    <td><%= link_to 'Edit', edit_cuaderno_control_revisione_path(cuaderno_control_revisione) %></td>
    <td><%= link_to 'Destroy', cuaderno_control_revisione, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cuaderno control revision', new_cuaderno_control_revisione_path %>
