<p id="notice"><%= notice %></p>

<p>
  <b>Cuaderno control:</b>
  <%= @cuaderno_control_revisione.cuaderno_control_id %>
</p>

<p>
  <b>Alumno:</b>
  <%= @cuaderno_control_revisione.alumno_id %>
</p>

<p>
  <b>Persona vinculada:</b>
  <%= @cuaderno_control_revisione.persona_vinculada_id %>
</p>

<p>
  <b>Revisado:</b>
  <%= @cuaderno_control_revisione.revisado %>
</p>

<p>
  <b>Fecha hora revision:</b>
  <%= @cuaderno_control_revisione.fecha_hora_revision %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @cuaderno_control_revisione.observaciones %>
</p>

<p>
  <b>Usuario:</b>
  <%= @cuaderno_control_revisione.usuario %>
</p>


<%= link_to 'Edit', edit_cuaderno_control_revisione_path(@cuaderno_control_revisione) %> |
<%= link_to 'Back', cuaderno_controles_revisiones_path %>
