<div data-role="header">
  <h1>
    <%= @cuaderno_control_revision.alumno.apellidos_nombres %>
    <%= @cuaderno_control_revision.cuaderno_control.fecha %>
  </h1>
  <%= link_to 'Regresar', cuaderno_controles_revisiones_path(:accion => "revisar", :usuario => current_user.usuario), "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<div data-role="content">
  <%anio_alumno = AnioAlumno.find_by_anio_escolar_id_and_alumno_id(anio_escolar.id, @cuaderno_control_revision.alumno.id)%>
  <% controlasistenciaalumno = ControlAsistencia.find_by_anio_alumno_id_and_fecha(anio_alumno, @cuaderno_control_revision.cuaderno_control.fecha)%>
  <% if !controlasistenciaalumno.nil? %>
    <div style="color: #FF0000">
      <% if controlasistenciaalumno.tipo_asistencia == 1 %>
        <p><%= "INASISTENCIA REGISTRADA" %></p>
      <% else %>
        <p><%= "TARDANZA REGISTRADA" %></p>
      <% end %>
    </div>
  <% end %>

  <ul id='cuaderno_controles_revisiones' data-role="listview" data-filter="true">
    <% @cuaderno_control_revision.cuaderno_control.cuaderno_controles_eventos.where("alumno_id is null or alumno_id=?", @cuaderno_control_revision.alumno.id).order("tipo_evento_id").each do |cuaderno_control_evento| %>      
      <li>
        <h3><%= TipoEvento.find(cuaderno_control_evento.tipo_evento_id).descripcion %></h3>
        <p><%= simple_format(cuaderno_control_evento.descripcion) %></p>
        <p>
          <% if !cuaderno_control_evento.fecha_evento.nil? %>
            <%= simple_format("Para el #{cuaderno_control_evento.fecha_evento.strftime('%d/%m/%Y')}") %>
          <% end %>
        </p>
      </li>             
    <% end %>
  </ul>
</div>



<%= form_for(@cuaderno_control_revision, :html => { :class => "ui-body ui-body-c" }) do |f| %>
  <% if @cuaderno_control_revision.revisado == 0 %>
    
    <% if can? :update, @cuaderno_control_revision && current_user.perfil_id != 4 %>
      <div class="field">
        <%= f.hidden_field :revisado, :value => 1 %>
        <%= f.hidden_field :persona_vinculada_id, :value => PersonaVinculada.logueado(current_user.usuario).first.id %>
        <%= f.hidden_field :usuario, :value => current_user.usuario %>
      </div>
      
      <div class="field">
        Observaciones<br />
        <%= f.text_area :observaciones %>
      </div>
      <div class="actions">
        <%= f.submit "Revisar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
      </div>
    <% else %>
      <div data-role="footer">No revisado</div>
    <% end %>
  <% else %>
    <div class="field">
      <%= f.text_area :observaciones, :readonly => true %>
    </div>
    <br />
    <div data-role="footer">Revisado</div>
  <% end %>
<% end %>