<div data-role="header">
  <h1>Cursos</h1>
  <% if can? :create, Curso %>
    <%= link_to 'Registrar', new_curso_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <% end %>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% @cursos.each do |curso| %>
    <li data-filtertext="<%= "#{curso.descripcion} #{curso.abreviatura}}" %>" >
      <% if can? :update, curso %>
        <% link_opcion = edit_curso_path(curso) %>
      <% else %>
        <% link_opcion = curso %>
      <% end %>
      <%= link_to link_opcion do %>
        <%= simple_format("#{curso.descripcion} - #{curso.abreviatura}") %>
      <% end %>
      
      <% if can? :destroy, curso %>
        <%= link_to 'Eliminar', curso, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
