<div data-role="header">
  <h1>Secciones</h1>
  <% if can? :create, Seccion %>
    <%= link_to 'Registrar', new_seccion_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <% end %>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% @secciones.por_anioescolar.each do |seccion| %>
    <li data-filtertext="<%= "#{Grado.find(seccion.grado_id).grado} - #{seccion.seccion}" %>" >
      <% if can? :update, seccion %>
        <% link_opcion = edit_seccion_path(seccion) %>
      <% else %>
        <% link_opcion = seccion %>
      <% end %>
      <%= link_to link_opcion do %>
        <%= simple_format("Seccion : #{Grado.find(seccion.grado_id).grado} -  #{seccion.seccion}" ) %>
      <% end %>
      
      <% if can? :destroy, seccion %>
        <%= link_to 'Eliminar', seccion, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>