<h1>Listing cuaderno_control_seccions</h1>

<table>
  <tr>
    <th>Codigocolegio</th>
    <th>Fecha</th>
    <th>Seccion</th>
    <th>Tipoevento</th>
    <th>Detalle</th>
    <th>Codigousuario</th>
    <th>Fechausuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cuaderno_control_seccions.each do |cuaderno_control_seccion| %>
  <tr>
    <td><%= cuaderno_control_seccion.CodigoColegio %></td>
    <td><%= cuaderno_control_seccion.Fecha %></td>
    <td><%= cuaderno_control_seccion.Seccion %></td>
    <td><%= cuaderno_control_seccion.TipoEvento %></td>
    <td><%= cuaderno_control_seccion.Detalle %></td>
    <td><%= cuaderno_control_seccion.CodigoUsuario %></td>
    <td><%= cuaderno_control_seccion.FechaUsuario %></td>
    <td><%= link_to 'Show', cuaderno_control_seccion %></td>
    <td><%= link_to 'Edit', edit_cuaderno_control_seccion_path(cuaderno_control_seccion) %></td>
    <td><%= link_to 'Destroy', cuaderno_control_seccion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cuaderno control seccion', new_cuaderno_control_seccion_path %>
