<p id="notice"><%= notice %></p>

<p>
  <b>Codigocolegio:</b>
  <%= @cuaderno_control_seccion.CodigoColegio %>
</p>

<p>
  <b>Fecha:</b>
  <%= @cuaderno_control_seccion.Fecha %>
</p>

<p>
  <b>Seccion:</b>
  <%= @cuaderno_control_seccion.Seccion %>
</p>

<p>
  <b>Tipoevento:</b>
  <%= @cuaderno_control_seccion.TipoEvento %>
</p>

<p>
  <b>Detalle:</b>
  <%= @cuaderno_control_seccion.Detalle %>
</p>

<p>
  <b>Codigousuario:</b>
  <%= @cuaderno_control_seccion.CodigoUsuario %>
</p>

<p>
  <b>Fechausuario:</b>
  <%= @cuaderno_control_seccion.FechaUsuario %>
</p>


<%= link_to 'Edit', edit_cuaderno_control_seccion_path(@cuaderno_control_seccion) %> |
<%= link_to 'Back', cuaderno_control_seccions_path %>
