<%= form_for(@transaccion) do |f| %>
  <% if @transaccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaccion.errors.count, "error") %> prohibited this transaccion from being saved:</h2>

      <ul>
      <% @transaccion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.number_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :ruta %><br />
    <%= f.text_field :ruta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
