<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@usuario.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  <div class="field">
    <%= f.hidden_field :colegio_id, :value => colegio.id %>
  </div>
 <div class="field">
    Nombre (*)<br />
    <%= f.text_field :nombre, :required => "required", :pattern => "^[a-zA-ZñÑ ]*$", :title => "Solo estan permitidos letras" %>
  </div>
  <div class="field">
    Usuario (*)<br />
    <%= f.text_field :usuario, :required => "required" %>
  </div>
  <% if @usuario.id.nil? %>
    <div class="field">
        Clave (*)<br />
        <%= f.password_field :clave, :required => "required" %>
    </div>
    <div class="field">
        Clave confirmacion (*)<br />
        <%= f.password_field :clave_confirmation, :required => "required" %>
    </div>
  <% else %>
    <div class="field">
        Clave<br />
        <%= f.password_field :clave %>
    </div>
    <div class="field">
        Clave confirmacion<br />
        <%= f.password_field :clave_confirmation %>
    </div>
  <% end %>
  <div class="field">
    Perfil (*)<br />
    <%= collection_select(:usuario, :perfil_id, Perfil.all, :id, :descripcion, { :prompt => ':: Seleccione ::'}, {"data-mini" => "true", :required => "required"}) %>
  </div>
  <div class="field">
    <%= f.label :persona_vinculada_id %><br />
    <%= collection_select(:usuario, :persona_vinculada_id, PersonaVinculada.order("apellido_paterno", "apellido_materno", "nombres"), :id, :apellidos_nombres, { :prompt => ''}, {"data-mini" => "true"}) %>
  </div>
  <div class="field">
    <%= f.label :correo %><br />
    <%= f.email_field :correo, :placeholder => "dirceu@example.com" %>
  </div>
  
  Notificado por correo:<br />
  <select <%= f.number_field :notificado, "data-role" => "slider", "data-mini" => "true" %> >
              <option value = 0 <% if @usuario.notificado == 0 %> selected <%end%> >No</option>
              <option value = 1 <% if @usuario.notificado == 1 %> selected <%end%> >Si</option>
  </select>

  <div class="field">
    Nivel de acceso:<br />
    <fieldset data-role = "controlgroup" data-type  = "horizontal"  data-mini = "true" >
        <% if @usuario.alcance_colegio == 1 %>
            <%= f.number_field :alcance_colegio, "type" => "radio", "id" => "radio-opc2", "value" => 1, "checked" =>"checked" %>
        <% else%>
            <%= f.number_field :alcance_colegio, "type" => "radio", "id" => "radio-opc2", "value" => 1 %>
        <% end %>
        <label for="radio-opc2">Colegio</label>
        <% if @usuario.alcance_colegio == 0 %>
            <%= f.number_field :alcance_colegio, "type" => "radio", "id" => "radio-opc1", "value" => 0, "checked" =>"checked" %>
        <% else%>
            <%= f.number_field :alcance_colegio, "type" => "radio", "id" => "radio-opc1", "value" => 0 %>
        <% end %>
        <label for="radio-opc1">Grados y Secciones</label>
    </fieldset>
  </div>

</div>
<div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
</div>

<% end %>
