<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  <div class="field">
    <%= f.hidden_field :colegio_id, :value => "1" %>
  </div>
  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :clave %><br />
    <%= f.password_field :clave %>
  </div>
  <div class="field">
    <%= f.label :clave_confirmation %><br />
    <%= f.password_field :clave_confirmation %>
  </div>
  <div class="field">
    <%= f.label :perfil_id %><br />
    <%= collection_select(:usuario, :perfil_id, Perfil.all, :id, :descripcion, { :prompt => ':: Seleccione un perfil ::'}, {"data-mini" => "true"}) %>
  </div>
  <div class="field">
    <%= f.label :persona_vinculada_id %><br />
    <%= collection_select(:usuario, :persona_vinculada_id, PersonaVinculada.all, :id, :apellidos_nombres, { :prompt => ''}, {"data-mini" => "true"}) %>
  </div>
  <div class="field">
    <%= f.label :correo %><br />
    <%= f.email_field :correo, :placeholder => "dirceu@example.com" %>
  </div>
  <div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
  </div>
</div>
<% end %>
