<div data-role="header">
  <h1>Usuarios</h1>
  <%= link_to 'Registrar', new_usuario_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% @usuarios.each do |usuario| %>
    <li data-filtertext="<%= "#{usuario.usuario} #{usuario.nombre} #{Perfil.find(usuario.perfil_id)}" %>" >
      <%= link_to edit_usuario_path(usuario) do %>
        <%= simple_format("#{usuario.nombre} (#{usuario.usuario} - #{Perfil.find(usuario.perfil_id).descripcion})") %>
      <% end %>
      <%= link_to 'Eliminar', usuario, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>      
    </li>
    <% end  %>
  </ul>
</div>