<div id='Usuario' data-role="header">
  <h1>Detalles</h1>
  <%= link_to 'Aceptar', usuarios_path, "data-icon" => "check", "data-mini" => "true"  %>
</div>


<div data-role="content" style="clear: left">
  <b>Nombre:</b> <%= @usuario.nombre %> <p>
  <b>Usuario:</b> <%= @usuario.usuario %> <p>
  <b>Clave:</b> <%= @usuario.clave %> <p>
  <b>Perfil:</b> <%= Perfil.find(@usuario.perfil_id).descripcion %> <p>
  <% if not @usuario.persona_vinculada_id.nil? %>
     <b>Persona vinculada:</b> <%=  PersonaVinculada.find(@usuario.persona_vinculada_id).apellidos_nombres %> <p>
  <% end %>
</div>


<div data-role="footer">
  <% if can? :update, @usuario %>
    <%= link_to 'Editar', edit_usuario_path(@usuario), "class" => "ui-btn-left", "data-inline" => "true", "data-theme" => "a", "data-icon" => "gear", "data-mini" => "true" %>
  <% end %>
</div>
