<%= form_for(@colegio) do |f| %>
  <% if @colegio.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@colegio.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @colegio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :ruc %><br />
    <%= f.text_field :ruc %>
  </div>
  <div class="field">
    <%= f.label :direccion %><br />
    <%= f.text_area :direccion %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br />
    <%= f.telephone_field :telefono, :placeholder => "999999999" %>
  </div>
  <div class="field">
    <%= f.label :correo %><br />
    <%= f.email_field :correo, :placeholder => "dirceu@example.com" %>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.text_field :logo %>
  </div>
  <div class="field">
    <%= f.label :director %><br />
    <%= f.text_field :director %>
  </div>
  <div class="field">
    Estado<br />
    <select <%= f.number_field :estado, "data-role" => "slider", "data-mini" => "true" %> >
                <option value = 0 <% if @colegio.estado == 0 %> selected <%end%> >Baja</option>
                <option value = 1 <% if @colegio.estado == 1 %> selected <%end%> >Activo</option>
    </select>
  </div>
  <div class="field">
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
  </div>
<% end %>
