<%= form_for(@colegio) do |f| %>
  <% if @colegio.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@colegio.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @colegio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  
  <div class="field">
    Nombre (*)<br />
    <%= f.text_field :nombre, :required => "required" %>
  </div>
  <div class="field">
    RUC<br />
    <%= f.text_field :ruc, :pattern => "20\\d{9}", :title => "Ingrese 11 dígitos (debe empezar con 20)" %>
  </div>
  <div class="field">
    Dirección<br />
    <%= f.text_area :direccion %>
  </div>
  <div class="field">
    Teléfono<br />
    <%= f.telephone_field :telefono, :placeholder => "333-4444", :pattern => "\\d{3}[\\-]*\\d{4}" %>
  </div>
  <div class="field">
    <%= f.label :correo %><br />
    <%= f.email_field :correo, :placeholder => "dirceu@example.com" %>
  </div>
  <!-- div class="field" -->
    <!-- %= f.label :logo %><br -->
    <!-- %= f.text_field :logo % -->
  <!-- /div -->
  <div class="field">
    Director<br />
    <%= f.text_field :director %>
  </div>
  <div class="field">
    Notificar inasistencia<br />
    <!--%= collection_select(:colegio, :notificar_inasistencia, ListaValor.where("tabla=10").order("item"), :item, :descripcion, {:prompt => ':: Seleccione ::'}, {"data-mini" => "true", :required => "required"}) %-->
    <select <%= f.number_field :notificar_inasistencia, "data-role" => "slider", "data-mini" => "true" %> >
                <option value = 0 <% if @colegio.notificar_inasistencia == 0 %> selected <%end%> >No</option>
                <option value = 1 <% if @colegio.notificar_inasistencia == 1 %> selected <%end%> >Si</option>
    </select>
  </div>
  <div class="field">
    Notificar tardanza<br />
    <select <%= f.number_field :notificar_tardanza, "data-role" => "slider", "data-mini" => "true" %> >
                <option value = 0 <% if @colegio.notificar_tardanza == 0 %> selected <%end%> >No</option>
                <option value = 1 <% if @colegio.notificar_tardanza == 1 %> selected <%end%> >Si</option>
    </select>
  </div>
  <div class="field">
    Crear usuarios para alumnos a partir del grado (*)<br />
    <%= collection_select(:colegio, :grado_usuario, Grado.where("anio_escolar_id = ? and nivel = 1", anio_escolar.id).order("grado"), :grado, :grado_nivel, {:prompt => ':: Seleccione ::'}, {"data-mini" => "true", :required => "required"}) %>
  </div>
  <% if !@colegio.id.nil? %>
    <div class="field">
        Estado<br />
        <select <%= f.number_field :estado, "data-role" => "slider", "data-mini" => "true" %> >
                    <option value = 0 <% if @colegio.estado == 0 %> selected <%end%> >Baja</option>
                    <option value = 1 <% if @colegio.estado == 1 %> selected <%end%> >Activo</option>
        </select>
    </div>
  <%end%>
  <div class="field">
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
  </div>
<% end %>
