<div data-role="header">
  <h1>Colegios</h1>
  <% if can? :create, Colegio %>
    <%= link_to 'Registrar', new_colegio_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
  <% end %>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true">
    <% estadocolegio = '' %>
    <% @colegios.each do |colegio| %>
    <% if colegio.estado == 1 %> <% estadocolegio= 'Activo' %> <% else %> <% estadocolegio= 'Baja' %> <% end %>
    <li data-filtertext="<%= "#{colegio.nombre} #{colegio.direccion} #{estadocolegio}" %>" >
      <% if can? :update, colegio %>
        <% link_opcion = edit_colegio_path(colegio) %>
      <% else %>
        <% link_opcion = colegio %>
      <% end %>
      <%= link_to link_opcion do %>
        <p> <%= simple_format("#{colegio.nombre}") %> </p>
        <% if colegio.estado == 1 %>
          <p class="ui-li-aside ui-li-desc"> Activo </p>
        <% else %>
          <p class="ui-li-aside ui-li-desc"> Baja </p>
        <% end %>
        
      <% end %>
      
      <% if can? :destroy, colegio %>
        <%= link_to 'Eliminar', colegio, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
