<h1>Listing colegios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Ruc</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Correo</th>
    <th>Logo</th>
    <th>Director</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @colegios.each do |colegio| %>
  <tr>
    <td><%= colegio.nombre %></td>
    <td><%= colegio.ruc %></td>
    <td><%= colegio.direccion %></td>
    <td><%= colegio.telefono %></td>
    <td><%= colegio.correo %></td>
    <td><%= colegio.logo %></td>
    <td><%= colegio.director %></td>
    <td><%= colegio.usuario %></td>
    <% if can? :read, @colegio %>
        <td><%= link_to 'Show', colegio %></td>
    <% end %>
    <% if can? :update, @colegio %>
        <td><%= link_to 'Edit', edit_colegio_path(colegio) %></td>
    <% end %>
    <% if can? :destroy, @colegio %>
        <td><%= link_to 'Destroy', colegio, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @colegio %>
    <%= link_to 'New Colegio', new_colegio_path %>
<% end %>
