<div id='colegio' data-role="header">
  <h1>Detalles</h1>
  <%= link_to 'Aceptar', colegios_path, "data-icon" => "check", "data-mini" => "true"  %>
</div>

<div data-role="content" style="clear: left">
  <b>Descripcion:</b> <%= @colegio.nombre %> <p>
  <b>Ruc:</b> <%= @colegio.ruc %> <p>
  <b>Direccion:</b> <%= @colegio.direccion %> <p>
  <b>Telefono:</b> <%= @colegio.telefono %> <p>
  <b>Correo:</b> <%= @colegio.correo %> <p>
  <b>Director:</b> <%= @colegio.director %> <p>
  <b>Notificar inasistencia:</b> 
      <%= "#{ListaValor.find_by_tabla_and_item(10, @colegio.notificar_inasistencia).descripcion}" %>
      <p>
  <b>Crear usuarios para alumnos a partir del grado:</b> 
    <% if @colegio.grado_usuario.nil? %>
      No definido
    <% else %>
      <%= "#{@colegio.grado_usuario} #{ListaValor.find_by_tabla_and_item(9,1).descripcion}" %>
    <% end %>
    <p>
  <b>Activo:</b>
  <% if @colegio.estado == 1 %>
    Si
  <% else %>
    No
  <% end %>
  <p>
</div>

<div data-role="footer">
  <% if can? :update, @colegio %>
    <%= link_to 'Editar', edit_colegio_path(@colegio), "class" => "ui-btn-left", "data-inline" => "true", "data-theme" => "a", "data-icon" => "gear", "data-mini" => "true" %>
  <% end %>
</div>
