<p>Estimado(a) se침or(a) <%= @persona.apellidos_nombres %>:</p>
<p>Se le recuerda que el <%= @actividad.fecha_hora_inicio.strftime('%d/%m/%Y %H:%mi') %> se llevar치 a cabo la siguiente actividad:</p>

<p>
  <b><%= @actividad.nombre %></b>
  <br>
  <%= @actividad.detalle %>
</p>

<p>
  <%# if @actividad.requiere_autorizacion == 1 and @actividad.autorizada(alumno) == 0 %>
  <% if @actividad.requiere_autorizacion == 1 %>
    Adem치s, se le recuerda que debe indicar si autoriza la participaci칩n de su hijo, para lo cual tiene plazo hasta el 
    <%= @actividad.limite_autorizacion.strftime('%d/%m/%Y %H:%M') %>.
  <% end %>
</p>

<p>

    <%= image_tag attachments['logo_small.jpg'].url -%>
</p>