<div data-role="header">
  <h1>Autorizados a recoger niños</h1>
  <%= link_to 'Agregar', new_persona_autorizada_recojo_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>


<div data-role="content">
  <ul data-role="listview" data-filter="true" data-inset="true">
    <% @persona_autorizada_recojos.each do |persona_autorizada_recojo| %>
    <li data-role="list-divider">      
      <%= "#{persona_autorizada_recojo.Nombres} #{persona_autorizada_recojo.ApellidoPaterno} #{persona_autorizada_recojo.ApellidoMaterno}" %>
    </li>
    <li data-filtertext="<%= "#{persona_autorizada_recojo.Nombres} #{persona_autorizada_recojo.ApellidoPaterno} #{persona_autorizada_recojo.ApellidoMaterno}" %>" >
      <%= link_to edit_persona_autorizada_recojo_path(persona_autorizada_recojo) do %>
        <%= image_tag("#{persona_autorizada_recojo.Foto}") %>
        <%= "DNI #{persona_autorizada_recojo.NumeroDocumento}" %> 
        <br>
        <%= "#{persona_autorizada_recojo.Observaciones}" %>
      <% end %>
      <%= link_to 'Eliminar', persona_autorizada_recojo, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>      
    </li>
    <% end  %>
  </ul>
</div>