<div data-role="header">
  <h1> </h1>
  <%= link_to 'Editar', edit_persona_autorizada_recojo_path(@persona_autorizada_recojo), "data-icon" => "gear", "class" => "ui-btn-right" %>
  <%= link_to 'Regresar', persona_autorizada_recojos_path, "data-icon" => "back", "class" => "ui-btn-left" %>
</div>

<p id="notice"><%= notice %></p>

<div data-role="content">
  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">      
      <%= "#{@persona_autorizada_recojo.Nombres} #{@persona_autorizada_recojo.ApellidoPaterno} #{@persona_autorizada_recojo.ApellidoMaterno}" %>
    </li>
    <li>
      <%= image_tag("#{@persona_autorizada_recojo.Foto}") %>
      <%= "DNI #{@persona_autorizada_recojo.NumeroDocumento}" %> 
      <br>
      <%= "#{@persona_autorizada_recojo.Observaciones}" %>
    </li>
  </ul>
</div>
