<h1>Listing curriculos</h1>

<table>
  <tr>
    <th>Grado</th>
    <th>Curso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @curriculos.each do |curriculo| %>
  <tr>
    <td><%= curriculo.grado_id %></td>
    <td><%= curriculo.curso_id %></td>
    <td><%= link_to 'Show', curriculo %></td>
    <td><%= link_to 'Edit', edit_curriculo_path(curriculo) %></td>
    <td><%= link_to 'Destroy', curriculo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Curriculo', new_curriculo_path %>
