<div data-role="header">
  <h1>Consulta de notas</h1>
</div>

<% if params[:dni] == "0" %>
  <% dni = "" %>
<% else %>
  <% dni = params[:dni] %>
<% end %>

<div data-role="content">    
  <div>
    
    <div style="text-align: center;">
      <%= form_tag(notas_path, {:method => :get, "onSubmit" => "return validarBusquedaXDocumento();", "data-ajax" => "false", "name" => "buscar"}) do %>            
         <div data-role="fieldcontain">
            <div style="text-align: left;">
              N° DNI:  <%= text_field_tag(:dni, dni, "data-mini" => "true") %>
            
              <%= submit_tag "Buscar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "search", "data-mini" => "true", :name => nil %>
            </div>
          </div>         
      <% end %>
      <hr>
    </div>

    <% if params[:dni] != "0" %>
    <div style="text-align: center;">
       <% if dni != "" %>
        <div data-role="content" style="color: #06c; text-align: center">
          <% alumno = Alumno.find_by_dni(dni) %>
          <% if !alumno.nil? %>
            <%= alumno.apellidos_nombres %>
            <br/>
            <%= alumno.grado_seccion(anio_escolar.id) %>
          <% end %>
        </div>
      <% end %>
    </div>
    
    <div>     
      <% if !alumno.nil? %>
      <div data-role="content">
        <ul data-role="listview">
          <% @cursos.each do |curso| %>
              <li data-role="list-divider">
                <%= Curso.find(curso).descripcion %>
              </li>

              <% notas_por_curso = @notas.where("curso_id=?", curso) %>
              <% notas_por_curso.each do |nota| %>
                <li style="font-family: monospace">
                  <%= simple_format("#{TipoNota.find(nota.tipo_nota_id).descripcion.ljust(30, ".")} #{nota.nota}") %>
                </li>
              <% end %> 

          <% end %>
        </ul>
      
      </div>
      <% end %>
    <% end %>
    
  </div><!-- /grid-a --> 
  
</div>