<%= form_for(@actividad) do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@actividad.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @actividad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div data-role="fieldcontain">
    <div class="field">
        <%= f.hidden_field :anio_escolar_id, :value => 1 %>
    </div>
    <div class="field">
        <!--%= f.label :tipo_evento_id %><br /-->
        Tipo Evento<br /><%= collection_select(:actividad, :tipo_evento_id, TipoEvento.where("cuaderno_control = 0"), :id, :descripcion, { :prompt => ':: Seleccione ::'}, {"data-mini" => "true"}) %>
    </div>
    <div class="field">
        <%= f.label :tipo_actividad, "for" => "name" %><br />
        <%= collection_select(:actividad, :tipo_actividad, ListaValor.where("tabla=6"), :item, :descripcion, {:prompt => ':: Seleccione ::'}, {"data-mini" => "true"}) %>
    </div>
    <div class="field">
        <%= f.label :nombre, "for" => "name" %><br />
        <%= f.text_field :nombre, "data-mini" => "false" %>
    </div>
    <div class="field">
        <%= f.label :detalle, "for" => "Textarea" %><br />
        <%= f.text_area :detalle, "data-mini" => "false" %>
    </div>
    
    <div class="field">
        <%= f.label :fecha_hora_inicio, "for" => "name" %><br />
        <%= f.text_field :fecha_inicio, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:120px" %>
        <%= f.text_field :hora_inicio, :size => 5, :maxlength => 5, "style" => "width:60px", "data-mini" => "true" %>
        <!--%= f.text_field :hora_inicio, "type" => "time", :size => 5, :maxlength => 5, "style" => "width:60px", "data-mini" => "true" %-->
    </div>

    <div class="field">
        <%= f.label :fecha_hora_fin, "for" => "name" %><br />
        <%= f.text_field :fecha_fin, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:120px" %>
        <%= f.text_field :hora_fin, :size => 5, :maxlength => 5, "style" => "width:60px", "data-mini" => "true" %>
    </div>

    <!--fieldset data-role="controlgroup"-->
    <div class="field">
        <%= f.check_box :requiere_autorizacion, "class" => "custom", "data-mini" => "true" %>
        <%= f.label :requiere_autorizacion %> 
    </div>
    <div class="field">
        Ultimo dia para autorizacion<br />
        <!--%= f.label :limite_autorizacion, "for" => "name" %><br /-->
        <%= f.text_field :limite_autorizacion, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:120px" %>
    </div>
    <!--/fieldset-->
    <div class="field">
        <%= f.label :inicio_notificacion, "for" => "name" %><br />
        <%= f.text_field :inicio_notificacion, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:120px" %>
    </div>
    <div class="field">
        <%= f.label :fin_notificacion, "for" => "name" %><br />
        <%= f.text_field :fin_notificacion, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:120px" %>
    </div>
    <div class="field">
        <!--%= f.label :frecuencia_dias_notificacion, "for" => "Slider" %><br /-->
        <!--%= f.number_field :frecuencia_dias_notificacion, "type" => "range", "min" => "1", "max" => "10", "data-highlight" => "true", "data-mini" => "true" %-->
        Frecuencia de notificacion<br />
        Cada <%= f.number_field :frecuencia_dias_notificacion, "type" => "number", "min" => "1", "max" => "30", "data-mini" => "true", "style" => "width:60px"  %> dia(s)
    </div>

    <div class="field">
        <%= f.hidden_field :usuario, :value => current_user.usuario %>
    </div>
    <br />
    <div class="actions">
        <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
    </div>
 </div>
<% end %>
