<%= form_for(@actividad) do |f| %>
  <% if @actividad.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@actividad.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @actividad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- El parametro value de datetime-local trabaja con este formato: %Y-%m-%dT%H:%M, si no, no se visualiza el dato al editarlo  -->
  <% if @actividad.fecha_hora_inicio.nil? || @actividad.fecha_hora_fin.nil? %>
    <% valor_fhi = "" %>
    <% valor_fhf = "" %>
  <% else %>
    <% valor_fhi = @actividad.fecha_hora_inicio.strftime("%Y-%m-%dT%H:%M") %>
    <% valor_fhf = @actividad.fecha_hora_fin.strftime("%Y-%m-%dT%H:%M") %>
  <% end %>
  
  <div data-role="fieldcontain">
    <div class="field">
        <%= f.hidden_field :anio_escolar_id, :value => anio_escolar.id %>
    </div>
    <div class="field">
        <!--%= f.label :tipo_evento_id %><br /-->
        Tipo de evento (*)<br />
        <%= collection_select(:actividad, :tipo_evento_id, TipoEvento.where("cuaderno_control = 0"), :id, :descripcion, { :prompt => ':: Seleccione ::'}, {"data-mini" => "true", :required => "required"}) %>
    </div>
    <div class="field">
        Tipo de actividad (*)<br />
        <%= collection_select(:actividad, :tipo_actividad, ListaValor.where("tabla=6"), :item, :descripcion, {:prompt => ':: Seleccione ::'}, {"data-mini" => "true", :required => "required"}) %>
    </div>
    <div class="field">
        Nombre (*)<br />
        <%= f.text_field :nombre, :required => "required", "data-mini" => "true" %>
    </div>
    <div class="field">
        Detalle (*)<br />
        <%= f.text_area :detalle, :required => "required", "data-mini" => "true" %>
    </div>
    <div class="field">
        Fecha y hora de inicio (*)<br /> 
        <%= f.text_field :fecha_hora_inicio, "data-mini" => "true", "data-role" => "datebox", "type" => "datetime-local", :required => "required", :value => "#{valor_fhi}" %>
    </div>

    <div class="field">
        Fecha y hora de fin (*)<br />
        <%= f.text_field :fecha_hora_fin, "data-mini" => "true", "data-role" => "datebox", "type" => "datetime-local", :required => "required", :value => "#{valor_fhf}" %>
    </div>
    
    <!--fieldset data-role="controlgroup"-->
    <div class="field">
        <%= f.check_box :requiere_autorizacion, "class" => "custom", "data-mini" => "true" %>
        <%= f.label :requiere_autorizacion %>
    </div>
    <div class="field">
        Ultimo dia para autorizaci贸n<br />
        <%= f.text_field :limite_autorizacion, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:130px" %>
    </div>
    <!--/fieldset-->
    <div class="field">
        Inicio de notificaci贸n<br />
        <%= f.text_field :inicio_notificacion, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:130px" %>
    </div>
    <div class="field">
        Fin de notificaci贸n<br />
        <%= f.text_field :fin_notificacion, "data-mini" => "true", "data-role" => "datebox", "type" => "date", "style" => "width:130px" %>
    </div>
    <div class="field">
        Frecuencia de notificaci贸n <br />
        Cada <%= f.number_field :frecuencia_dias_notificacion, "type" => "number", "min" => "1", "max" => "30", "data-mini" => "true", "style" => "width:50px"  %> dia(s)
    </div>

    <div class="field">
        <%= f.hidden_field :usuario, :value => current_user.usuario %>
    </div>
    <br />
    <div class="actions">
        <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
    </div>
 </div>
<% end %>
