<h1>Listing actividades</h1>

<table>
  <tr>
    <th>Anio escolar</th>
    <th>Tipo evento</th>
    <th>Fecha hora inicio</th>
    <th>Fecha hora fin</th>
    <th>Tipo actividad</th>
    <th>Nombre</th>
    <th>Detalle</th>
    <th>Requiere autorizacion</th>
    <th>Limite autorizacion</th>
    <th>Inicio notificacion</th>
    <th>Fin notificacion</th>
    <th>Frecuencia dias notificacion</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @actividades.each do |actividad| %>
  <tr>
    <td><%= actividad.anio_escolar_id %></td>
    <td><%= actividad.tipo_evento_id %></td>
    <td><%= actividad.fecha_hora_inicio %></td>
    <td><%= actividad.fecha_hora_fin %></td>
    <td><%= actividad.tipo_actividad %></td>
    <td><%= actividad.nombre %></td>
    <td><%= actividad.detalle %></td>
    <td><%= actividad.requiere_autorizacion %></td>
    <td><%= actividad.limite_autorizacion %></td>
    <td><%= actividad.inicio_notificacion %></td>
    <td><%= actividad.fin_notificacion %></td>
    <td><%= actividad.frecuencia_dias_notificacion %></td>
    <td><%= actividad.usuario %></td>
    <td><%= link_to 'Show', actividad %></td>
    <td><%= link_to 'Edit', edit_actividad_path(actividad) %></td>
    <td><%= link_to 'Destroy', actividad, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Actividad', new_actividad_path %>
