<div id='Actividad' data-role="header">
  <h1>Actividad</h1>
  <%= link_to 'Aceptar', actividades_path, "data-icon" => "check", "data-mini" => "true"  %>
  <% if @actividad.estado != 1 %>
    <%= link_to 'Editar', edit_actividad_path(@actividad), "class" => "ui-btn-right", "data-theme" => "a", "data-icon" => "gear", "data-mini" => "true" %>
  <% end %>
</div>

<div data-role="content" style="clear: left; font-size: 12px;">    
  <div style="clear: left; font-size: 16px; font-weight: bold">
    <%= @actividad.nombre %>
  </div>
  <%= "#{TipoEvento.find(@actividad.tipo_evento_id).descripcion} (#{ListaValor.find_by_tabla_and_item(6, @actividad.tipo_actividad).descripcion})" %>
    <p>
    <%= @actividad.detalle %><p>
    <b>Del:</b> <%= @actividad.fecha_hora_inicio.strftime('%d/%m/%Y %H:%M') %>
    <b> Al:</b> <%= @actividad.fecha_hora_fin.strftime('%d/%m/%Y %H:%M') %><p>
    <b>
    <% if @actividad.requiere_autorizacion == 1 %>
      Requiere autorización
    <% else %>
      No requiere autorización
    <% end %>
    </b>
    <p>
</div>

<% if @actividad.estado == 1 %>
  <%= render "actividades_secciones/form" %>
<% end %>

<div data-role="content">
  <ul id='actividades_secciones' data-role="listview">
  <% @actividad.actividades_secciones.each do |actividad_seccion| %>
    <% if !actividad_seccion.seccion_id.nil? %> 
    <li>
      <%= link_to simple_format(actividad_seccion.grado_seccion), [@actividad, actividad_seccion] %>
      <%= link_to 'Eliminar vínculo', [actividad_seccion.actividad, actividad_seccion], confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %>
    </li>
    <% end %>
  <% end %>
  </ul>
</div>

<%= form_for(@actividad, :html => { :class => "ui-body ui-body-c" }) do |f| %>
  <div data-role="fieldcontain">
    <% if @actividad.estado == 1 %>
      <%= f.hidden_field :estado, :value => 2 %>
      <%= f.hidden_field :usuario, :value => current_user.usuario %>
      <% hidden_field_tag(:accion, 2, "data-mini" => "true") %>
    
      <%#*<div class="field">%>
        <%#*Observaciones<br />%>
        <%#= f.text_area :observacion %>
      <%#*</div>%>
      <div class="actions">
        <%= f.submit "Confirmar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
      </div>
    <% else %>
      <%#*<div class="field">%>
        <%#*Observaciones<br />%>
        <%#= f.text_area :observacion, :readonly => true %>
      <%#*</div>%>
      <%#*<br />%>
      <div data-role="footer"><%= ListaValor.find_by_tabla_and_item(8, @actividad.estado).descripcion %></div>
    <% end %>
  </div>
<% end %>