<%= form_for(@autorizacion) do |f| %>
  <% if @autorizacion.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@autorizacion.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @autorizacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div data-role="fieldcontain">
  <div class="field">
    <b>Actividad:</b> <%= @autorizacion.actividad.detalle %><p>
    <b>Fecha de inicio:</b> <%= @autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y %H:%M') %><p>
    <b>Fecha de termino:</b> <%= @autorizacion.actividad.fecha_hora_fin.strftime('%d/%m/%Y %H:%M') %><p>
    <b>Para:</b> <%= @autorizacion.alumno.apellidos_nombres %><p>
  </div>

  <div data-role="fieldcontain">
    <b>Autorizar:</b><br />
    <select <%= f.number_field :respuesta, "data-role" => "slider", "data-mini" => "true" %> >
                <option value = 0 <% if @autorizacion.respuesta == 0 %> selected <%end%> >No</option>
                <option value = 1 <% if @autorizacion.respuesta == 1 %> selected <%end%> >Si</option>
    </select>
  </div>

  <div class="field">
    <%= f.hidden_field :persona_vinculada_id, :value => PersonaVinculada.logueado(current_user.usuario).first.id %>
    <%= f.hidden_field :fecha_hora_autorizacion, :value => Time.now.strftime('%d/%m/%YT%H:%M:%S') %>
    <%= f.hidden_field :usuario, :value => current_user.usuario %>
  </div>
  <div class="actions">
    Clave:<%= password_field_tag "clave", nil, :required => "required", :placeholder => "Ingrese su clave", :style => "width:130px", :title => "Debe ingresar su clave para continuar" %>
    <% if @autorizacion.respuesta.nil? %>
      <%= f.submit "Responder", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true", data: { confirm: "¿Está seguro que desea responder a la solicitud de autorización?" } %>
    <% else %>
      <%= f.submit "Actualizar respuesta", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true", data: { confirm: "¿Está seguro que desea modificar su respuesta?" } %>
    <% end if %>
  </div>
</div>
<% end %>
