<div data-role="header">
  <h1>Autorizaciones</h1>
  <!--%= link_to 'Registrar', new_autorizacion_path, "data-icon" => "plus", "class" => "ui-btn-right" %-->
</div>

<div data-role="content" class="ui-content" role="main">
  
  <div data-role="collapsible-set" data-theme="b" data-content-theme="d" data-inset="false">
    
    <%cantpendiente = @autorizaciones.pendiente.vigente.count %>
    <div data-role="collapsible" <% if cantpendiente > 0 %> data-collapsed="false" <%end%> >
      <h2>
        <li class= "ui-li ui-li-has-count">
          Pendientes
          <span class="ui-li-count ui-btn-up-b ui-btn-corner-all"><%=cantpendiente%></span>
        </li>
      </h2>
      <ul data-role="listview" data-filter="true">
        <% @autorizaciones.pendiente.vigente.each do |autorizacion| %>
          <li data-filtertext="<%= "#{autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y')} - #{autorizacion.actividad.nombre} - #{autorizacion.alumno.apellidos_nombres}" %>" >
            <% if can? :update, autorizacion %>
              <% link_opcion = edit_autorizacion_path(autorizacion) %>
            <%else%>
              <% link_opcion = autorizacion %>
            <%end%>
            <%= link_to link_opcion do %>
            <!--%= link_to edit_autorizacion_path(autorizacion) do %-->
              <h3 class= "ui-li-heading"> <%= "#{autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y')} - #{autorizacion.actividad.nombre}" %>  </h3>
              <p class="ui-li-desc"> <%= "Para: #{autorizacion.alumno.apellidos_nombres}" %></p>
              <p class="ui-li-desc"> <%= "Plazo: #{autorizacion.actividad.limite_autorizacion.strftime('%d/%m/%Y')}" %></p>
            <% end %>
            <!--%= link_to 'Eliminar', autorizacion, confirm: '¿Seguro que desea eliminar el registro?', method: :delete, "data-icon" => "delete" %-->
          </li>
        <% end  %>
      </ul>
    </div>
    
    <div data-role="collapsible">
      <h2>
        <li class= "ui-li ui-li-has-count">
          Respondidos
          <span class="ui-li-count ui-btn-up-b ui-btn-corner-all"><%=@autorizaciones.respondido.vigente.count%></span>
        </li>
      </h2>
      <ul data-role="listview" data-filter="true">
        <% @autorizaciones.respondido.vigente.each do |autorizacion| %>    
          <li data-filtertext="<%= "#{autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y')} - #{autorizacion.actividad.nombre} - #{autorizacion.alumno.apellidos_nombres}" %>" >
            <% if can? :update, autorizacion %>
              <% link_opcion = edit_autorizacion_path(autorizacion) %>
            <%else%>
              <% link_opcion = autorizacion %>
            <%end%>
            <%= link_to link_opcion do %>
              <h3 class= "ui-li-heading"> <%= "#{autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y')} - #{autorizacion.actividad.nombre}" %>  </h3>
              <p class="ui-li-desc"> <%= "Para: #{autorizacion.alumno.apellidos_nombres}" %></p>
              <p class="ui-li-desc"> Autorizado: <% if autorizacion.respuesta.nil? %> Sin respuesta <%else%> <%if autorizacion.respuesta ==0%> No <%else%> Si <%end%> <%end%></p>
            <% end %>
          </li>
        <% end  %>
      </ul>
    </div>

    <div data-role="collapsible">
      <h2>
        <li class= "ui-li ui-li-has-count">
          Pasados
          <span class="ui-li-count ui-btn-up-b ui-btn-corner-all"><%=@autorizaciones.pasado.count%></span>
        </li>
      </h2>
      <ul data-role="listview" data-filter="true">
        <% @autorizaciones.pasado.each do |autorizacion| %>    
          <li data-filtertext="<%= "#{autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y')} - #{autorizacion.actividad.nombre} - #{autorizacion.alumno.apellidos_nombres}" %>" >
            <%= link_to autorizacion do %>
              <h3 class= "ui-li-heading"> <%= "#{autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y')} - #{autorizacion.actividad.nombre}" %>  </h3>
              <p class="ui-li-desc"> <%= "Para: #{autorizacion.alumno.apellidos_nombres}" %></p>
              <p class="ui-li-desc"> Autorizado: <% if autorizacion.respuesta.nil? %> Sin respuesta <%else%> <%if autorizacion.respuesta ==0%> No <%else%> Si <%end%> <%end%></p>
            <% end %>
          </li>
        <% end  %>
      </ul>
    </div>
    
  </div> <!-- collapsible set -->
  
</div>
