<div id='Autorizacion' data-role="header">
  <h1>Detalles</h1>
  <%= link_to 'Aceptar', autorizaciones_path(:accion => "autorizar", :usuario => current_user.usuario), "data-icon" => "check", "data-mini" => "true"  %>
</div>

<div data-role="content" style="clear: left">
    <b>Actividad:</b> <%= @autorizacion.actividad.detalle %><p>
    <b>Fecha de inicio:</b> <%= @autorizacion.actividad.fecha_hora_inicio.strftime('%d/%m/%Y %H:%M') %><p>
    <b>Fecha de termino:</b> <%= @autorizacion.actividad.fecha_hora_fin.strftime('%d/%m/%Y %H:%M') %><p>
    <b>Para:</b> <%= @autorizacion.alumno.apellidos_nombres %><p>
    <b>Autorizado:</b>
    <% if @autorizacion.respuesta.nil? %>
      (Sin respuesta)
    <% else %>
      <% if @autorizacion.respuesta == 0 %>
        No
      <% else %>
        Si
      <% end %>
    <% end %>
    <p>
</div>

<div data-role="footer">
  <!--%= link_to 'Editar', edit_autorizacion_path(@autorizacion), "class" => "ui-btn-left", "data-inline" => "true", "data-theme" => "a", "data-icon" => "gear", "data-mini" => "true" %-->
</div>
