<%= form_for(@cuaderno_control_revision) do |f| %>
  <% if @cuaderno_control_revision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuaderno_control_revision.errors.count, "error") %> prohibited this cuaderno_control_revision from being saved:</h2>

      <ul>
      <% @cuaderno_control_revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CodigoColegio %><br />
    <%= f.number_field :CodigoColegio %>
  </div>
  <div class="field">
    <%= f.label :Fecha %><br />
    <%= f.date_select :Fecha %>
  </div>
  <div class="field">
    <%= f.label :Seccion %><br />
    <%= f.text_field :Seccion %>
  </div>
  <div class="field">
    <%= f.label :CodigoAlumno %><br />
    <%= f.number_field :CodigoAlumno %>
  </div>
  <div class="field">
    <%= f.label :Revisado %><br />
    <%= f.number_field :Revisado %>
  </div>
  <div class="field">
    <%= f.label :Observaciones %><br />
    <%= f.text_area :Observaciones %>
  </div>
  <div class="field">
    <%= f.label :CodigoUsuario %><br />
    <%= f.text_field :CodigoUsuario %>
  </div>
  <div class="field">
    <%= f.label :FechaUsuario %><br />
    <%= f.datetime_select :FechaUsuario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
