<p id="notice"><%= notice %></p>

<p>
  <b>Codigocolegio:</b>
  <%= @cuaderno_control_revision.CodigoColegio %>
</p>

<p>
  <b>Fecha:</b>
  <%= @cuaderno_control_revision.Fecha %>
</p>

<p>
  <b>Seccion:</b>
  <%= @cuaderno_control_revision.Seccion %>
</p>

<p>
  <b>Codigoalumno:</b>
  <%= @cuaderno_control_revision.CodigoAlumno %>
</p>

<p>
  <b>Revisado:</b>
  <%= @cuaderno_control_revision.Revisado %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @cuaderno_control_revision.Observaciones %>
</p>

<p>
  <b>Codigousuario:</b>
  <%= @cuaderno_control_revision.CodigoUsuario %>
</p>

<p>
  <b>Fechausuario:</b>
  <%= @cuaderno_control_revision.FechaUsuario %>
</p>


<%= link_to 'Edit', edit_cuaderno_control_revision_path(@cuaderno_control_revision) %> |
<%= link_to 'Back', cuaderno_control_revisions_path %>
