<%= form_for(@persona_vinculada, :html => { :class => "ui-body ui-body-c", :multipart => true, "data-ajax" => "false", "onSubmit" => "return validarFoto(document.personas, persona_vinculada[foto]);", "name" => "personas" }) do |f| %>
  <% if @persona_vinculada.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@persona_vinculada.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @persona_vinculada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div data-role="fieldcontain">
    <div class="field">
      <%= f.label :tipo_documento %><br />
      <%= collection_select(:persona_vinculada, :tipo_documento, ListaValor.where("tabla=2"), :item, :descripcion, {}, {"data-mini" => "true"}) %>
    </div>
    <div class="field">
      <%= f.label :numero_documento %><br />
      <%= f.text_field :numero_documento %>
    </div>
    <div class="field">
      <%= f.label :nombres %><br />
      <%= f.text_field :nombres %>
    </div>
    <div class="field">
      <%= f.label :apellido_paterno %><br />
      <%= f.text_field :apellido_paterno %>
    </div>
    <div class="field">
      <%= f.label :apellido_materno %><br />
      <%= f.text_field :apellido_materno %>
    </div>
    <div class="field">
      <%= f.label :telefono_fijo %><br />
      <%= f.telephone_field :telefono_fijo, :placeholder => "444-4444" %>
    </div>
    <div class="field">
      <%= f.label :telefono_movil %><br />
      <%= f.telephone_field :telefono_movil, :placeholder => "999999999" %>
    </div>
    <div class="field">
      <%= f.label :correo %><br />
      <%= f.email_field :correo, :placeholder => "dirceu@example.com" %>
    </div>
    <div class="field">
      <%= f.label :foto %><br />
      <%= f.file_field :foto, :onchange => "PreviewImage(this);" %><br />
      <%= image_tag("blank.gif", :id => "preview") %>
    </div>
    <div class="field">
      <%= f.hidden_field :user, :value => current_user.usuario %>
    </div>
    <div class="field">
      <%= f.hidden_field :origen, :value => "manual" %>
    </div>
    <div class="actions">
      <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
    </div>
  </div>
<% end %>
