<%= form_for(@persona_vinculada, :html => { :class => "ui-body ui-body-c", :multipart => true, "data-ajax" => "false", "onSubmit" => "return validarFoto(document.personas, persona_vinculada[foto]);", "name" => "personas" }) do |f| %>
  <% if @persona_vinculada.errors.any? %>
    <div id="error_explanation" data-role="header" data-theme="e">
      <h2><%= pluralize(@persona_vinculada.errors.count, "error") %> impidieron que se grabe el registro:</h2>

      <ul>
      <% @persona_vinculada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div data-role="fieldcontain">
    <div class="field">
      Tipo documento (*)<br />
      <%= collection_select(:persona_vinculada, :tipo_documento, ListaValor.where("tabla=2"), :item, :descripcion, {}, {"data-mini" => "true", :required => "required"}) %>
    </div>
    <div class="field">
      Numero documento (*)<br />
      <%= f.text_field :numero_documento, :required => "required", :pattern => "\\d{8}", :title => "Ingrese 8 digitos" %>
    </div>
    <div class="field">
      Nombres (*)<br />
      <%= f.text_field :nombres, :required => "required", :pattern => "^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\W]*$", :title => "Solo estan permitidos letras" %>
    </div>
    <div class="field">
      Apellido paterno (*)<br />
      <%= f.text_field :apellido_paterno, :required => "required", :pattern => "^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\W]*$", :title => "Solo estan permitidos letras" %>
    </div>
    <div class="field">
      Apellido materno<br />
      <%= f.text_field :apellido_materno, :pattern => "^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s\W]*$", :title => "Solo estan permitidos letras" %>
    </div>
    <div class="field">
      Telefono fijo<br />
      <%= f.telephone_field :telefono_fijo, :placeholder => "444-4444", :pattern => "\\d{3}[\\-]*\\d{4}" %>
    </div>
    <div class="field">
      Telefono movil<br />
      <%= f.telephone_field :telefono_movil, :placeholder => "999999999", :pattern => "9\\d{8}" %>
    </div>
    <div class="field">
      Correo (*)<br />
      <%= f.email_field :correo, :required => "required", :placeholder => "dirceu@example.com" %>
    </div>
    <div class="field">
      Foto<br />
      <%= f.file_field :foto, :onchange => "PreviewImage(this);" %><br />
      <%= image_tag("blank.gif", :id => "preview") %>
      <%= image_tag @persona_vinculada.foto_url.to_s %>
    </div>
    <div class="field">
      <%= f.hidden_field :user, :value => current_user.usuario %>
    </div>
    <div class="field">
      <%= f.hidden_field :origen, :value => "manual" %>
    </div>
    <div class="actions">
      <%= f.submit "Grabar", "data-inline" => "true", "data-theme" => "a", "data-icon" => "check", "data-mini" => "true" %>
    </div>
  </div>
<% end %>
