<div id='persona_vinculada' data-role="header">
  <h1>Detalles</h1>
  <%= link_to 'Aceptar', personas_vinculadas_path, "data-icon" => "check", "data-mini" => "true"  %>
</div>

<div data-role="content" style="clear: left">
    <!--%= image_tag(@persona_vinculada.foto) %-->
    <%= image_tag(@persona_vinculada.foto_url.to_s) %> <p>
    <b>Documento:</b> <%= "#{ListaValor.find_by_tabla_and_item(2, @persona_vinculada.tipo_documento).abreviatura} #{@persona_vinculada.numero_documento}" %><p>
    <b>Apellidos y nombres:</b> <%= @persona_vinculada.apellidos_nombres %><p>
    <b>Telefono fijo:</b> <%= @persona_vinculada.telefono_fijo %><p>
    <b>Telefono móvil:</b> <%= @persona_vinculada.telefono_movil %><p>
    <b>Correo:</b> <%= @persona_vinculada.correo %><p>
</div>

<% if can? :create, AlumnoPersonaVinculada %>
  <%= render "alumnos_personas_vinculadas/form2" %>
<% end %>

<div data-role="header">Alumnos vinculados</div>

<div data-role="content">
  <ul id='alumnos_personas_vinculadas' data-role="listview">
  <% @persona_vinculada.alumnos_personas_vinculadas.each do |apv| %>
    <% if !apv.alumno_id.nil? %> 
      <% if can? :read, apv %>
        <li>
          <% if can? :read, apv %>
            <%= link_to simple_format(apv.alumno.apellidos_nombres), [@persona_vinculada, apv] %> 
          <% end %>
          <% if can? :destroy, apv %>
            <%= link_to 'Eliminar', apv, confirm: '¿Está seguro que desea eliminar el vínculo?', method: :delete, "data-icon" => "delete" %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div>
