<h1>Listing cuaderno_control_alumnos</h1>

<table>
  <tr>
    <th>Codigocolegio</th>
    <th>Fecha</th>
    <th>Seccion</th>
    <th>Codigoalumno</th>
    <th>Tipoevento</th>
    <th>Detalle</th>
    <th>Codigousuario</th>
    <th>Fechausuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cuaderno_control_alumnos.each do |cuaderno_control_alumno| %>
  <tr>
    <td><%= cuaderno_control_alumno.CodigoColegio %></td>
    <td><%= cuaderno_control_alumno.Fecha %></td>
    <td><%= cuaderno_control_alumno.Seccion %></td>
    <td><%= cuaderno_control_alumno.CodigoAlumno %></td>
    <td><%= cuaderno_control_alumno.TipoEvento %></td>
    <td><%= cuaderno_control_alumno.Detalle %></td>
    <td><%= cuaderno_control_alumno.CodigoUsuario %></td>
    <td><%= cuaderno_control_alumno.FechaUsuario %></td>
    <td><%= link_to 'Show', cuaderno_control_alumno %></td>
    <td><%= link_to 'Edit', edit_cuaderno_control_alumno_path(cuaderno_control_alumno) %></td>
    <td><%= link_to 'Destroy', cuaderno_control_alumno, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cuaderno control alumno', new_cuaderno_control_alumno_path %>
