<p id="notice"><%= notice %></p>

<p>
  <b>Codigocolegio:</b>
  <%= @cuaderno_control_alumno.CodigoColegio %>
</p>

<p>
  <b>Fecha:</b>
  <%= @cuaderno_control_alumno.Fecha %>
</p>

<p>
  <b>Seccion:</b>
  <%= @cuaderno_control_alumno.Seccion %>
</p>

<p>
  <b>Codigoalumno:</b>
  <%= @cuaderno_control_alumno.CodigoAlumno %>
</p>

<p>
  <b>Tipoevento:</b>
  <%= @cuaderno_control_alumno.TipoEvento %>
</p>

<p>
  <b>Detalle:</b>
  <%= @cuaderno_control_alumno.Detalle %>
</p>

<p>
  <b>Codigousuario:</b>
  <%= @cuaderno_control_alumno.CodigoUsuario %>
</p>

<p>
  <b>Fechausuario:</b>
  <%= @cuaderno_control_alumno.FechaUsuario %>
</p>


<%= link_to 'Edit', edit_cuaderno_control_alumno_path(@cuaderno_control_alumno) %> |
<%= link_to 'Back', cuaderno_control_alumnos_path %>
