<!DOCTYPE html>
<html>
<head>
  <title>::. Micole.pe .::</title>
  <!--%= stylesheet_link_tag "backend", :media => "all" %-->
  
  <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/assets/css/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    <link href="/assets/css/table/demo_page.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN: load jquery -->
    <script src="/assets/js/jquery-1.6.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui/jquery.ui.core.min.js"></script>
    <script src="/assets/js/jquery-ui/jquery.ui.widget.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui/jquery.ui.accordion.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui/jquery.effects.core.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui/jquery.effects.slide.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui/jquery.ui.mouse.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-ui/jquery.ui.sortable.min.js" type="text/javascript"></script>
    <script src="/assets/js/table/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- END: load jquery -->
    <script type="text/javascript" src="/assets/js/table/table.js"></script>
    <script src="/assets/js/setup.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            setupLeftMenu();

            $('.datatable').dataTable();
			setSidebarHeight();


        });
    </script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <%= csrf_meta_tag %>  

</head>  
  <body>
    <div class="container_12">
      <div class="grid_12 header-repeat">
            <div id="branding">
                <div class="floatleft">
                    <image src="/assets/logo_small_blanco.gif" alt="Logo" />
                </div>
                <div class="floatright">
                    <div class="floatleft">
                        <img src="/assets/img/img-profile.jpg" alt="Profile Pic" /></div>
                    <div class="floatleft marginleft10">
                        <ul class="inline-ul floatleft">
                          <% if current_user %>
                            <%= link_to "Menu", "/menu" %>
                            <%= current_user.usuario %>
                            <%= link_to "Salir", log_out_path %>
                          <% end %>
                            <li>Hello Admin</li>
                            <li><a href="#">Config</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <br />
                        <span class="small grey">Last Login: 3 hours ago</span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="grid_12">
            <ul class="nav main">
                <li class="ic-dashboard"><a href="dashboard.html"><span>Dashboard</span></a> </li>
                <li class="ic-form-style"><a href="javascript:"><span>Controls</span></a>
                    <ul>
                        <li><a href="form-controls.html">Forms</a> </li>
                        <li><a href="buttons.html">Buttons</a> </li>
                        <li><a href="form-controls.html">Full Page Example</a> </li>
                        <li><a href="table.html">Page with Sidebar Example</a> </li>
                    </ul>
                </li>
				<li class="ic-typography"><a href="typography.html"><span>Typography</span></a></li>
                <li class="ic-charts"><a href="charts.html"><span>Charts & Graphs</span></a></li>
                <li class="ic-grid-tables"><a href="table.html"><span>Data Table</span></a></li>
                <li class="ic-gallery dd"><a href="javascript:"><span>Image Galleries</span></a>
               		 <ul>
                        <li><a href="image-gallery.html">Pretty Photo</a> </li>
                        <li><a href="gallery-with-filter.html">Gallery with Filter</a> </li>
                    </ul>
                </li>
                <li class="ic-notifications"><a href="notifications.html"><span>Notifications</span></a></li>

            </ul>
        </div>
        <div class="clear">
        </div>
        <div class="grid_2">
            <div class="box sidemenu">
                <div class="block" id="section-menu">
                    <ul class="section menu">
                        <li><a class="menuitem">Carga de datos</a>
                            <ul class="submenu">
                                <li><%= link_to "Archivos cargados", :controller => "archivos", :action => "listar_archivos", :class => "active" %></li>
                                <li><%= link_to "Subir archivo", :controller => "archivos", :action => "subir_archivos" %> </li>
                                <li><%= link_to "Cargar alumnos", :controller => "archivos", :action => "cargar_alumnos" %> </li>
                                <li><%= link_to "Cargar padres", :controller => "archivos", :action => "cargar_padres" %> </li>
                                <li><%= link_to "Cargar vínculos", :controller => "archivos", :action => "cargar_vinculos" %> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">Menu 2</a>
                            <ul class="submenu">
                                <li><a>Submenu 1</a> </li>
                                <li><a>Submenu 2</a> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">Menu 3</a>
                            <ul class="submenu">
                                <li><a>Submenu 1</a> </li>
                                <li><a>Submenu 2</a> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">Menu 4</a>
                            <ul class="submenu">
                                <li><a>Submenu 1</a> </li>
                                <li><a>Submenu 2</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      
        <div class="grid_10">
          <%= yield -%>
        </div>
      
        <div class="clear">
        </div>
      
    </div>
</html>
