<!DOCTYPE html>
<html>
<head>
  <title>::. Micole.pe .::</title>
  <!--%= stylesheet_link_tag    "application", :media => "all" %-->
  
  <%= javascript_include_tag "application" %>
  
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  
  <script>

  $('div[data-role=page]').live('pagecreate',function(){
    $('.ui-select').css({'width':'300px'});
  });

  </script>
  
  <%= csrf_meta_tag %>  

</head>
<div>
  <image src="logo.jpg"/>
</div>

  <div id="user_nav">
    <% if current_user %>
      Inici贸 sesi贸n como <%= current_user.usuario %>.
      <%= link_to "Cerrar sesi贸n", log_out_path %>
    <% else %>
      <%= link_to "Iniciar sesi贸n", log_in_path %>
    <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <div data-role="page">
    <%= yield %>
  </div>

</html>
