<!DOCTYPE html>
<html>
<head>
  <title>::. Micole.pe .::</title>
  
  <script>
    $(document).bind("mobileinit", function () {
        $.mobile.ajaxEnabled = false;
    });
  </script>
  
  <%= javascript_include_tag "application" %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <link rel="stylesheet"  href="http://jquerymobile.com/test/css/themes/default/jquery.mobile.css" />
  <%#= stylesheet_link_tag "application", :media => "all" %>
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  
  <%= csrf_meta_tag %>  

  <!-- Google analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36705480-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <!-- Google analytics -->
</head>   
<body onload="<%= yield :onload %>">
  <div data-role="page" class="type-interior" data-url="<%= request.path %>">
    <div data-role="footer" data-theme="b">
      <image src="/assets/logo_small.gif" style="vertical-align:bottom" />            
      
      <% if current_user %>
        <%= link_to "Menu", "/menu" %>
        <%= current_user.usuario %>
        <%= link_to "Salir", log_out_path, "data-ajax" => "false" %>
      <% end %>   
      
      <% if colegio %>
        <%= "#{colegio.nombre} - #{anio_escolar.anio}" %>
      <% end %>
    
    
   </div> 
    <% flash.each do |name, msg| %>
      <div data-role="footer" data-theme="e">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
  

</html>
